<!-- Product Social Share Icons and Links -->

<div class="product-social-share">
    <button type="button" class="product-social-share__btn">
        <i class="fa fa-share-alt fa-lg"></i>
    </button>
    <div class="product-social-share__icons">
        <a href="https://api.whatsapp.com/send?text=https://shop.unicornstore.in/iphone-13/iphone-13-pro-max2" target="_blank" data-action="share/whatsapp/share">
            <i class="fab fa-whatsapp"></i>
        </a>

        <a href="https://www.facebook.com/sharer/sharer.php?u={{url}}" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>

        <!-- <a class="share-icon tw" title="Share on Twitter" data-network="twitter" data-action="share" target="_blank">
            <i class="fab fa-twitter"></i>
        </a> -->

        <a href="https://twitter.com/intent/tweet?url={{url}}&text={{title}}&via=Unicorn%20Store" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
</div>


<!-- <div class="share-box">
    <div class="share-product" *ngIf="isShareBoxOpen">
        <a class="share-icon ln ml-2" title="Share on LinkedIn" data-network="linkedin" data-action="share" href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}&title=iPhone 13 Pro Max | Unicorn Store" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
</div> -->