<section class="training-sec-1 training-layer" style="background-image: url('assets/img/bg/training11.png')">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-sm-6">
        <div class="training-text">
          <h1 class="title-lg">Training at Unicorn store</h1>
          <p class="pg">
            Unicorn store brings you comprehensive training sessions that help tune your working knowledge of your Mac. Training at Unicorn store is by professionals,
            who also provide personalised training and can be scheduled according to your convenience.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="training-sec-2 py-2 my-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4 border-right">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-img-box">
              <img src="assets/img/training/MacOS.jpg" alt="...">
            </div>
            <h2 class="heading mb-3">macOS</h2>
            <p class="pg">
              macOS High Sierra builds on everything your Mac can do today, while making way for what’s to come.
            </p>
          </div>
          <div class="card-footer">
            <a href="#macos" class="btn btn-primary btn-sm scroll-link">Learn More <i class="fa fa-arrow-right ml-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 border-right">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-img-box">
              <img src="assets/img/training/iOS.jpg" alt="...">
            </div>
            <h2 class="heading mb-3">iOS</h2>
            <p class="pg">It’s easy to deploy and manage Apple devices even at the largest scale.</p>
          </div>
          <div class="card-footer">
            <a href="#ios" class="btn btn-primary btn-sm scroll-link">Learn More <i class="fa fa-arrow-right ml-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-img-box">
              <img src="assets/img/training/iWork.jpg" alt="...">
            </div>
            <h2 class="heading mb-3">iWork</h2>
            <p class="pg">iWork is a suite of productivity tools that include Pages, Numbers and Keynote. </p>
          </div>
          <div class="card-footer">
            <a href="#iwork" class="btn btn-primary btn-sm scroll-link">Learn More <i class="fa fa-arrow-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-4" id="macos">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-8">
        <h2 class="heading">
          Mac OS Support Essentials 10.13
        </h2>
        <p class="pg">
          macOS Support Essentials 10.13 is a three-day course that teaches the best ways to support macOS High Sierra users. The course includes lectures, demonstrations, group discussions, and hands-on exercises that provide real-world experience.
        </p>
        <h2 class="heading">
          Mac Integration Basics 10.13
        </h2>
        <p class="pg">
          Organizations are increasingly integrating Mac computers into Windows or other standards-based network environments. But users and the IT professionals who support them can relax, because Mac integration is easy. This self-paced course provides step-by-step instructions for a successful integration.
        </p>
        <a href="#register_now_modal" type="button" class="btn btn-primary mt-2">Register Now</a>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/training/macos.png" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</section>

<section class="py-4" id="ios">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="img-box-lg">
          <img src="assets/img/training/iOS.jpg" class="img-fluid" alt="...">
        </div>
        <hr>
        <h2 class="heading mb-2">
          iOS Deployment Essentials
        </h2>
        <p class="pg mb-4">
          iOS Deployment Essentials is a two-day course that provides students an opportunity to learn about the skills, tools, and knowledge needed to deploy iOS devices. Interactive discussions and hands-on exercises guide students through the configuration, management, and supervision of iOS devices. The students’ knowledge and skills are tested and reinforced by working through real-world scenarios.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="img-box-lg">
          <img src="assets/img/training/iOS.jpg" class="img-fluid" alt="...">
        </div>
        <hr>
        <h2 class="heading mb-2">
          iOS Deployment Essentials
        </h2>
        <p class="pg mb-4">
          iOS Deployment Essentials is a two-day course that provides students an opportunity to learn about the skills, tools, and knowledge needed to deploy iOS devices. Interactive discussions and hands-on exercises guide students through the configuration, management, and supervision of iOS devices. The students’ knowledge and skills are tested and reinforced by working through real-world scenarios.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2 class="heading mb-2">
          iOS Deployment Essentials in Education
        </h2>
        <p class="pg mb-4">
          iOS Deployment Essentials in Education is a two-day course that teaches participants about the skills, tools, and knowledge they need to deploy iOS devices in educational settings. Interactive discussions and hands-on exercises guide participants through configuring, managing, and supervising iOS devices. Participants’ knowledge and skills are tested and reinforced by working through real-world scenarios.
        </p>
      </div>
      <div class="col-sm-6">
        <h2 class="heading mb-2">
          iOS Deployment Workshop
        </h2>
        <p class="pg mb-4">
          In this 4-hour workshop, students learn about the skills, tools, and knowledge they need to deploy iOS devices. Discussions and hands-on activities guide students through the decisions they must make when they deploy user-owned and company-owned devices.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2 class="heading mb-2">
          iOS Deployment Essentials in Education
        </h2>
        <p class="pg mb-4">
          iOS Deployment Essentials in Education is a two-day course that teaches participants about the skills, tools, and knowledge they need to deploy iOS devices in educational settings. Interactive discussions and hands-on exercises guide participants through configuring, managing, and supervising iOS devices. Participants’ knowledge and skills are tested and reinforced by working through real-world scenarios.
        </p>
        <h2 class="heading mb-2">
          iOS Security and Privacy Workshop
        </h2>
        <p class="pg mb-4">
          Whether a company is deep into its deployment of iOS or just beginning the journey, security and privacy come up in every deployment conversation. In this 4-hour workshop, participants learn about security and privacy technologies that are built into iOS so they’re ready to discuss why it’s the best choice for business mobility.
        </p>
      </div>
      <div class="col-sm-6">
        <h2 class="heading mb-2">
          iOS Deployment Essentials in Education
        </h2>
        <p class="pg mb-4">
          iOS Deployment Essentials in Education is a two-day course that teaches participants about the skills, tools, and knowledge they need to deploy iOS devices in educational settings. Interactive discussions and hands-on exercises guide participants through configuring, managing, and supervising iOS devices. Participants’ knowledge and skills are tested and reinforced by working through real-world scenarios.
        </p>
        <h2 class="heading mb-2">
          iOS Network Integration Workshop
        </h2>
        <p class="pg mb-4">
          iPad and iPhone empower today’s modern workforce. To support these mobile users, organizations need to provide reliable and secure network access. At this workshop, participants learn how to integrate Apple technology into existing networks while balancing usability, complexity, and security.
        </p>
      </div>
    </div>
    <hr class="mt-0">
    <div class="text-center">
      <a href="#register_now_modal" type="button" class="btn btn-primary mt-2">Register Now</a>
    </div>
  </div>
</section>

<section class="bg-light py-4" id="iwork">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-8">
        <h2 class="heading mb-2">Pages</h2>

        <p class="pg mb-3">
          With Pages, you can create newsletters, resumes, brochures, restaurant menus, and reports. Use various effects in photos like shadows, reflections, opacity and many others which make your document look like it was made by a pro.
        </p>

        <h2 class="heading mb-2">iMovie</h2>

        <p class="pg mb-3">
          Make hollywood style movies and trailers, add beautiful templates, animations and effects to the footage. Add text on the clips, photos, audios, animated maps to give an entirely different look to your movies and then easily share them.
        </p>

        <h2 class="heading mb-2">Numbers</h2>

        <p class="pg">
          Numbers calculates your data and displays it in 3D charts and graphs. It’s also flexible enough to resize or move your layouts around. It comes with several Apple-designed templates that already have the calculations plugged into them, so all you have to do is enter your own data. You can also create a new spreadsheet of your own and give it a professional look.
        </p>

        <a href="#register_now_modal" type="button" class="btn btn-primary mt-2">Register Now</a>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/training/iWork.png" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</section>

<div class="container pt-3 border pb-2 mb-4 mt-3" id="register_now_modal">
  <h2 class="title text-center"> Register Now </h2>
  <hr>
  <p class="pg">Select your preferred module, venue &amp; dates and we’ll get in touch with you shortly.</p>
  <form action="https://shop.unicornstore.in/cart/training" name="training_form" id="training_form" method="post" accept-charset="utf-8">
    <!--<form action="" method="post">-->
    <div class="form-group">
      <label for="">If you're existing customer</label>
      <input type="text" name="invoice_no" id="invoice_no" class="form-control form-control-sm" placeholder="Invoice Number" value="">
    </div>
    <div class="form-group training-module">
      <label for="training_module">Training Module</label>
      <select name="training_module" id="training_module" class="custom-select custom-select-sm">
        <option value="">Select Training Module</option>
        <option value="mac_os">Mac OS</option>
        <option value="ios">iOS</option>
        <option value="iwork">iWork</option>
      </select>
    </div>
    <div class="form-group">
      <label for="venue">Venue</label>
      <div class="form-row">
        <div class="col-sm-6">
          <select name="venue_state" id="venue_state" class="custom-select custom-select-sm">
            <option value="">Select State</option>
            <option value="mumbai">Mumbai</option>
            <option value="delhi">Delhi / NCR</option>
            <option value="lucknow">Lucknow</option>
            <option value="punjab">Punjab</option>
            <option value="gujarat">Gujarat</option>
          </select>

        </div>
        <div class="col-sm-6">
          <select name="venue_city" id="venue_city" class="custom-select custom-select-sm">
            <option value="">Select City</option>
            <option value="mumbai">Mumbai</option>
            <option value="delhi">Delhi / NCR</option>
            <option value="lucknow">Lucknow</option>
            <option value="punjab">Punjab</option>
            <option value="gujarat">Gujarat</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="preferred_date">Preferred Date</label>
      <input type="date" name="preferred_date" id="preferred_date" class="form-control form-control-sm" placeholder="" value="">
    </div>
    <div class="form-group">
      <label for="recent_purchase">Have you bought a Mac at Unicorn store in the last 3 months?</label>
      <select name="recent_purchase" id="recent_purchase" class="custom-select custom-select-sm">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <small><strong>Note</strong> : Training will be provided in store.</small>
    </div>
    <h2 class="heading-sm">Personal Information</h2>
    <hr class="my-2">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="form-control form-control-sm" placeholder="" value="">
    </div>
    <div class="form-group">
      <label for="contact">Contact No.</label>
      <input type="text" name="contact" id="contact" class="form-control form-control-sm" placeholder="" value="">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control form-control-sm" placeholder="" value="">
    </div>
    <div class="form-group">
      <label for="bring_another_person">Would you like to bring another person with you for training?</label>
      <select name="bring_another_person" id="bring_another_person" class="custom-select custom-select-sm">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="col-sm-3">
        <button type="submit" name="submit" value="training_register" class="btn btn-primary">Register Now</button>
      </div>
    </div>
    <!--</form>-->
  </form>
</div>
