<div class="row">
  <div class="col-sm-4 col-md-4 col-xl-3 col-xxl-3 swipe mb-2" *ngFor="let re_product of Bestsellers_products">
    <ng-container *ngIf="!loading; else skeleton">
      <a class="fisrt_col_best mb-3" [routerLink]="re_product.product_type === 'configurable' ? ['/type', re_product.category_slug] : ['/product', re_product.slug]" (click)="fireFeaturedProductSelectGAEvents(re_product)">
        <div class="card h-100">
          <div class="card-body">
            <span class="saless p-1" *ngIf="re_product.price > re_product.saleprice">  {{ calculateSalePercentage(re_product)}}</span>
            <div class="text-center slider-img-box">
              <!-- Image Skeleton -->
              <p-skeleton width="100%" height="200px" animation="wave" class="mb-3"></p-skeleton>
              <img *ngIf="re_product.images.length > 0" [src]="imgUrl + '/full/' + re_product.images[0].filename" alt="Product Image" class="img-fluid img_popup" (load)="loading = false">
              <img *ngIf="!re_product.images || re_product.images.length === 0" src="./assets/img/not-found/no-image-found.png" alt=" ">
            </div>
            <div class="text-center">
              <p class="mt-2 pricee" style="text-align: center;">{{ re_product.name }}</p>
              <!-- <span class="price_main mb-3" *ngIf="re_product.price > re_product.saleprice"><del class="pricee">&#8377;{{ re_product.price }}</del>&nbsp; &nbsp; &#8377;{{ re_product.saleprice }}</span> -->
            </div>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</div>
<!-- Skeleton Template -->
<ng-template #skeleton>
  <div class="  swipe mb-2">
    <div class="card h-100">
      <div class="card-body">
        <!-- Image Skeleton -->
        <p-skeleton width="100%" height="200px" animation="wave" class="mb-3"></p-skeleton>
        <div class="text-center">
          <p-skeleton width="70%" height="10px" animation="wave" class="mt-2 mb-2"></p-skeleton>
          <p-skeleton width="100%" height="20px" animation="wave" class="mb-2"></p-skeleton>
          <p-skeleton width="70%" height="20px" animation="wave" class="mb-3"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</ng-template>
