<section class="trade-sec-1 py-5 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6  ">
                <div class="details_section">
                    <span>GET 30% OFF ON THIS PRODUCT</span>
                    <h1 class="heading_text mb-4">
                        Listen to The
                        <br>
                        Best Music
                    </h1>
                    <span class="text-muted">
                        Color your world with HomePod mini - White.The HomePod mini delivers high-quality audio without sacrificing space.
                       Enjoy the convenience of Siri voice commands to control your smart home devices, set reminders, and access information effortlessly.
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="   ">
                    <img class="img-homepod" src="/assets/img/Screenshot_2024-01-31_170934-removebg-preview.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-2">
    <div class="container">
        <h3 class="text-center heading-lg  p-5">
            Core Features
            <br>
            <span class="text-center text-muted heading-link-md mt-2">Color your world with HomePod mini</span>
        </h3>
        <div class="row">
            <div class="col-sm-4 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Immersive Sound</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Immersive</h6>
                        <p class="card-text">
                            The HomePod mini delivers rich, high-fidelity audio that fills the room, 
                          creating a captivating listening experience for music, podcasts, and more. Enjoy impressive sound quality 
                          in a compact design
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Smart Home Integration</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Smart  Integration</h6>
                        <p class="card-text">
                            Seamlessly integrate the HomePod mini into your Apple ecosystem, using Siri voice commands to control your smart home devices,
                         send messages, and access a world of information at your fingertips.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Voice Recognition Technology</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Voice   Technology</h6>
                        <p class="card-text">
                            With advanced voice recognition technology, Siri on the HomePod mini understands your commands with precision,
                         allowing for hands-free control of your music and smart home devices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Compact Size, Big Impact</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> Big Impact</h6>
                        <p class="card-text">Despite its compact size, the HomePod mini delivers room-filling sound. Its small footprint makes it easy to place in any room, providing an unobtrusive yet powerful audio solution for your home.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Sleek Aesthetics, Powerful Performance</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Powerful Performance</h6>
                        <p class="card-text">The White finish of the HomePod mini not only complements your home decor but also conceals a powerful smart speaker that redefines audio performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Immersive Audio Experience</h5>
                        <h6 class="card-subtitle mb-2 text-muted">  Audio Experience</h6>
                        <p class="card-text">Immerse yourself in a world of high-fidelity audio, whether you're enjoying your favorite music or catching up on podcasts.Despite its small footprint, the HomePod mini packs a punch with its impressive audio capabilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="trade-sec-3 py-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6  ">
                <div class="details">
                    <h1 class="     ">Listen to The Best Music</h1>
                    <span class="text-muted">Colour your world with HomePod mini</span>
                    <h4>Aesthetic Elegance</h4>
                    <p>
                        The White finish of the HomePod mini adds a touch 
                      of elegance to your home decor. The clean and minimalist design complements any interior, 
                      making it a versatile addition to bedrooms, living rooms, kitchens, and beyond
                    </p>
                    <h4>Effortless Setup</h4>
                    <p>
                        Setting up your HomePod mini is a breeze. With just a few taps on your iPhone, you can configure and customize your smart speaker to suit your preferences,
                       ensuring a personalized and user-friendly experience.
                    </p>
                    <h4>Seamless Connectivity</h4>
                    <p>
                        Connect the HomePod mini to your Apple devices effortlessly. Whether you're streaming music from your iPhone, iPad, or Mac, the
                       HomePod mini ensures a seamless and uninterrupted connection for an immersive audio experience
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="img-home d-flex justify-content-center">
                    <img class="img-homepod" src="https://shop.unicornstore.in/uploads/images/medium/e3ad3aacf29745b385d75a001d305a7f.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="trade-sec-4 py-5 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12  ">
                <div class="details text-center ">
                    <h1 class="     ">This is the Best</h1>
                    <span class="text-muted">Room-filling sound. An intelligent assistant. Controls your smart home. Private and secure.</span>
                </div>
            </div>
            <div class="img-home d-flex justify-content-center">
                <img class="img-homepod" src="https://i3-prod-assets.indiaistore.com/files/uploads/products/homepod-mini/hero-desk-img-1616160689_1639.png">
            </div>
        </div>
    </div>
</section>
