.cart-buttons-type {
    max-width: 50rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
}

.saless {
    // background-color: #28a745 !important;
    // color: white;
    // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;
    // position: absolute;
    // top: 3px;
    // left: 3px;
    position: absolute;
    top: 12px;
    left: -28px;
    background-color: #28a745;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px 3px 8px;
    display: flex;
    align-items: flex-end;
    line-height: 13px;
    font-weight: 500;
    transform: rotate(-45deg);
    width: 6rem;
    justify-content: center;
    letter-spacing: 0.025em;
    perspective: 200px;
}

.pricee {
    font-size: 20px;
    margin: 0px;
    text-align: center;
}

.price_main {
    // color: #5c5c5c;
    font-size: 17px;
    font-weight: 500;

}

.iphoneforlife {
    text-align: center;
    font-size: 5rem;
    // color: #3e71b3;
    color: #71bf44;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 15px;
}


section .first-section h4 {
    color: #231f20;
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
}

.iphone-for-you {
    /* max-width: 600px; */
    margin: 0 auto;
    display: table;
}