<div class="container py-3">

  <!-- Breadcrumb Start -->
  <div class="row">
    <div class="col-sm-auto">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/" class="link">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/watch-product" class="link">Watch</a></li>
        <li class="breadcrumb-item"><a routerLink="/apple-watch-series-7" class="link">Apple Watch Series 7</a></li>
      </ol>
    </div>
  </div>
  <hr class="mt-1 mb-3">
  <!-- Breadcrumb End -->

  <div class="row">
    <div class="col-sm-5">
      <div class="product-img-box">
        <img class="img-fluid" src="https://shop.unicornstore.in/uploads/images/medium/4164de21f12eade2f4e2dccc9b4c3246.jpeg">
      </div>
    </div>
    <div class="col-sm-7">
      <h2 class="product-name mb-2">
        Apple Watch Nike Series 7 GPS Midnight Aluminium Case with Anthracite/Black Nike Sport Band - Regular
      </h2>
      <div class="price-box-container mb-3">
        <div class="price-box">
          <span class="price-text">Starting from : </span>
          <span class="price">₹&nbsp;39,805<span class="price-last-two-char">.00</span></span>
        </div>
        <del class="price-sm">₹&nbsp;41,900<span class="price-last-two-char">.00</span></del>
        <br>
        <span class="text-success">5% off</span>
      </div>
      <div class="cashback-offer-box mb-3">
        <h6 class="heading-sm mb-0">Offers</h6>
        <a class="btn btn-link" style="white-space: normal;" href="javascript:void(0);">
          <i class="fa fa-angle-double-right mr-2"></i>Cashback up to ₹&nbsp;3,000.00* on HDFC Bank cards
        </a>
      </div>
      <button type="button" class="btn btn-primary">Select your Apple Watch Series 7</button>
    </div>
  </div>
</div>

<!------------------ Product Section Bar ------------------>
<section class="product-section-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="prod-desc-menu">
          <li><a href="javascript:void(0);" class="scroll-to-id choose-tab" data-scrollto="choose">Choose your Apple Watch Series 7</a></li>
          <li><a href="#overview" class="scroll-to-id" data-scrollto="">Overview</a></li>
          <li><a href="#specification" class="scroll-to-id" data-scrollto="">Specifications</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="main page product-details-page pt-4 ready">
  <div class="container" id="choose">
    <h4 class="title-sm text-uppercase text-center">Choose your Model</h4>
    <hr class="my-2">
    <div class="row no-gutters recommended-carousel owl-carousel text-center watch">
      <div class="owl-stage-outer" style="margin-inline: auto;">
        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 570px;">
          <div class="owl-item active" style="width: 285px;">
            <div class="col-sm p-0 border-right">
              <a href="/cart/add_to_wishlist/2387?slug=apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular&amp;return_url=apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular?add_to_wishlist=1" class="watch-wishlist-btn">
                <!-- Note: When wishlist added Add class fa-heart and remove class fa-heart-o Using PHP -->
                <i class="fa fa-heart-o fa-lg"></i>
              </a>
              <div class="watch-share-box">
                <a href="javascript:void(0);" class="share-btn"><i class="fa fa-share-square-o fa-lg"></i></a>
                <div class="share-product d-none animated fadeIn">
                  <a class="share-icon wp mb-2" href="https://api.whatsapp.com/send?text=https://shop.unicornstore.in/apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular" data-action="share/whatsapp/share" target="_blank">
                    <i class="fa fa-whatsapp"></i>
                  </a>
                  <a class="share-icon fb ml-2 mb-2" href="https://www.facebook.com/sharer/sharer.php?u=https://shop.unicornstore.in/apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a class="share-icon tw" title="Share on Twitter" data-network="twitter" data-action="share" href="https://twitter.com/intent/tweet?url=https://shop.unicornstore.in/apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a class="share-icon ln ml-2" title="Share on LinkedIn" data-network="linkedin" data-action="share" href="https://www.linkedin.com/sharing/share-offsite/?url=https://shop.unicornstore.in/apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular&amp;title=Apple Watch Nike Series 7 GPS Midnight Aluminium Case with Anthracite/Black Nike Sport Band - Regular | UnicornStore" target="_blank">
                    <i class="fa fa-linkedin "></i>
                  </a>
                </div>
                <!--<div class="fb-share-button" data-href="" data-layout="button_count" data-size="small">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=&src=" class="fb-xfbml-parse-ignore">
                        Share
                    </a>
                </div>-->
              </div>
              <div class="watch-product px-4 second">
                <div class="img-boxes position-relative">
                  <img src="https://shop.unicornstore.in/uploads/images/medium/305f1d98efe76d7459af2ce743a3b2f7.jpeg" width="307" class="img-fluid" alt="">
                  <!--                                                    --><!--                                                        --><!--                                                        --><!--                                                            <div id="watch-no-stock-strip" class="text-uppercase">--><!--</div>-->
                  <!--                                                        --><!--                                                    -->                                                </div>
                <div id="watch-no-stock-strip" class="text-uppercase" style="position: relative">Out of Stock</div>
                <h4 class="heading-link mb-3 mb-2">Apple Watch Nike Series 7 GPS, 41mm Midnight Aluminium Case with Anthracite/Black Nike Sport Band - Regular</h4>


                <h4 class="price">
                  <span class="price-sm">₹&nbsp;39,805<span class="price-last-two-char">.00</span></span>
                </h4>


                <del class="price-sm">₹&nbsp;41,900<span class="price-last-two-char">.00</span></del>
                <br>
                <span class="text-success">5% off</span>


              </div>

            </div>
          </div>
          <div class="owl-item active" style="width: 285px;">
            <div class="col-sm p-0 border-right">
              <a href="/cart/add_to_wishlist/2388?slug=apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular&amp;return_url=apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular?add_to_wishlist=1" class="watch-wishlist-btn">
                <!-- Note: When wishlist added Add class fa-heart and remove class fa-heart-o Using PHP -->
                <i class="fa fa-heart-o fa-lg"></i>
              </a>

              <div class="watch-share-box">
                <a href="javascript:void(0);" class="share-btn"><i class="fa fa-share-square-o fa-lg"></i></a>
                <div class="share-product d-none animated fadeIn">
                  <a class="share-icon wp mb-2" href="https://api.whatsapp.com/send?text=https://shop.unicornstore.in/apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular" data-action="share/whatsapp/share" target="_blank">
                    <i class="fa fa-whatsapp"></i>
                  </a>
                  <a class="share-icon fb ml-2 mb-2" href="https://www.facebook.com/sharer/sharer.php?u=https://shop.unicornstore.in/apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a class="share-icon tw" title="Share on Twitter" data-network="twitter" data-action="share" href="https://twitter.com/intent/tweet?url=https://shop.unicornstore.in/apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a class="share-icon ln ml-2" title="Share on LinkedIn" data-network="linkedin" data-action="share" href="https://www.linkedin.com/sharing/share-offsite/?url=https://shop.unicornstore.in/apple-watch-series-7/apple-watch-nike-series-7-gps-midnight-aluminium-case-with-anthraciteblack-nike-sport-band-regular&amp;title=Apple Watch Nike Series 7 GPS Midnight Aluminium Case with Anthracite/Black Nike Sport Band - Regular | UnicornStore" target="_blank">
                    <i class="fa fa-linkedin "></i>
                  </a>
                </div>
                <!--<div class="fb-share-button" data-href="" data-layout="button_count" data-size="small">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=&src=" class="fb-xfbml-parse-ignore">
                        Share
                    </a>
                </div>-->
              </div>
              <div class="watch-product px-4 last">
                <div class="img-boxes position-relative">
                  <img src="https://shop.unicornstore.in/uploads/images/medium/8930c5338f1323448d3dc006e2a068d8.jpeg" width="307" class="img-fluid" alt="">
                </div>
                <h4 class="heading-link mb-3">Apple Watch Nike Series 7 GPS, 45mm Midnight Aluminium Case with Anthracite/Black Nike Sport Band - Regular</h4>

                <div class="price mb-2">
                  <h4 class="price">
                    <span class="price-sm">₹&nbsp;42,655<span class="price-last-two-char">.00</span></span>
                  </h4>

                  <del class="price-sm">₹&nbsp;44,900<span class="price-last-two-char">.00</span></del>
                  <br>
                  <span class="text-success">5% off</span>

                </div>
                <input type="submit" class="btn btn-sky-fill add-to-cart-button mt-2" value="Buy Now">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
