.occupation-selection-box {
  display: flex;
  align-items: baseline;
  justify-content: center;

  * {
    font-size: 14px;
  }
}





.hero-text-box {
  .font_discount {
    font-family: 'Dancing Script', cursive;
    color: #ff9b71;
    font-size: 4rem;
  }

  .percent_discount {
    color: #4aad09;
  }
}

.selected-item {
  border: 2px solid green !important;
}

.selected-items {
  border: 2px solid green !important;
}

.additional-class {
  color: #4aad09 !important;
}

.hero-text-box {
  position: relative;


  // PC
  @media (min-width: 1440px) {
    .vector_tag {
      position: absolute;
      z-index: 2;
      top: -37px;
      right: 61px;

    }
  }

  // lAPTOP L
  @media (max-width: 1440px) {
    .vector_tag {
      position: absolute;
      z-index: 2;
      right: -138px;
      top: -35px;
    }
  }


  // laptop
  @media (max-width: 1024px) {
    .vector_tag {
      position: absolute;
      z-index: 2;
      right: -166px;
      top: -20px;
      width: 12rem;
    }


    // tablet
    @media (max-width: 768px) {
      .vector_tag {
        position: absolute;
        z-index: 2;
        right: -91px;
        top: 34px;
        width: 14rem;
      }

    }


    // phone-L
    @media (max-width: 425px) {
      .vector_tag {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 41px;
        width: 12rem;
      }

    }

    // phone-M
    @media (max-width: 375px) {
      .vector_tag {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 47px;
        width: 9rem;
      }

    }


    .font_discount {
      z-index: 1;
    }


  }
}

.sec-2 {
  padding-top: 0 !important;
  padding-bottom: 2rem !important;

}

.img-box-with-remove-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(248, 248, 248, 0.903);
  margin-top: 5px !important;

  .remove-btn {
    position: absolute;
    top: 3px;
    right: 9px;
    background: transparent;
    border: 0 !important;
    height: 1.5rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px;
    color: red;
  }
}

.bts-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  margin-bottom: 1.5rem;
  margin-top: -9px !important;

  img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.scroll-to-id {
  font-size: 18px;
}

table td,
th {
  font-size: 18px !important;
}

.sec-6 {

  position: relative;

  .container {
    position: relative;
    z-index: 2;

    p {
      font-size: 20px;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    span i {
      font-size: 20px !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .title_desc {
      font-size: 18px !important;
      line-height: 160%;
      letter-spacing: 2px;
    }
  }

  .sec_6_img1,
  .sec_6_img2 {
    filter: invert(1);
    transform: scaleX(-1);
  }

  .sec_6_img1 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .sec_6_img2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
  }

  .fa-check {
    color: #198754;
  }

}

/* Adjust the font weight to make the icon thinner */


.cursor-pointer {
  cursor: pointer;
}

.card {
  border-width: 2px;
}

.card.active {
  border-color: #00a227;
  border-width: 2px;
}


.user-img-box img {
  width: auto;
  max-height: 100%;
}

.user-img-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
}

a:hover {
  text-decoration: none
}

.bg-light {
  background-color: #d9eacb29 !important
}

.text-success {
  color: #70bf44 !important
}

.btn {
  border: 0;
  outline: 0;
  box-shadow: none
}

.form-control {
  font-size: 14px;
  color: #0d110d
}

.form-control:focus {
  border-color: #70bf44;
  outline: 0 !important;
  outline-offset: 0 !important;
  box-shadow: none !important
}

.btn-success {
  color: #fff;
  background: #70bf44
}

.btn:active,
.btn:focus,
.btn:hover {
  border: 0;
  outline: 0;
  box-shadow: none !important;
  color: #fff;
  background: #62a73c !important
}

#prev3:hover {
  background: #2daae1 !important
}

.card-heading {
  font-size: 22px;
  font-weight: 800
}

.card-sub-heading,
h3.heading-md {
  font-size: 16px;
  font-weight: 700
}

.pg-xs,
label {
  font-size: 13px;
  font-weight: 500
}

h3.heading-md {
  font-size: 20px
}

.title-lg {
  font-size: 50px;
  font-weight: 800
}

.heading-lg {
  font-size: 2rem;
  font-weight: 700
}

.heading-sm,
.title-md {
  font-size: 18px;
  font-weight: 700
}

.title-md {
  font-size: 32px
}

.logo-sec {
  background: rgba(242, 247, 255, .7);
  z-index: 9;
  position: relative
}

.logo-box {
  height: 5rem;
  display: flex;
  align-items: center
}

.logo-box img {
  max-height: 100%;
  width: auto
}

.footer-sec .logo-box {
  height: 42px;
  padding: 5px 4px
}

.number {
  font-size: 56px;
  font-weight: 900;
  color: #70bf44
}

.uni-logo {
  height: 55px;
  padding-right: 8px
}

.asp-logo,
.auth-logo {
  height: 45px;
  padding-right: 8px
}

.sec-1 {
  background-color: #d4fac1 !important;
  // background: linear-gradient(145deg, #70bf455e, #ffffff33);
  /*padding: 4rem 0;*/
  // height: 48vh;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  position: relative;

  .btn {
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}


.hero-img-box {
  position: relative;
  overflow: hidden;
  height: 548px;
  width: 100%
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0
}

.floating-btn {
  position: fixed;
  bottom: 50%;
  right: -26px;
  transform: translateY(-50%) rotateZ(-90deg);
  z-index: 99;
  background: #70bf44;
  color: #fff;
  padding: 3px 10px !important;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 500;
}


.floating-btn:hover {
  color: #fff;
}

.icon-shake {
  animation: shake 3s infinite linear
}

@keyframes shake {

  1.78571%,
  4.78571% {
    -webkit-transform: translateX(3px) rotate(15deg);
    transform: translateX(3px) rotate(15deg)
  }

  2.78571%,
  6.78571% {
    -webkit-transform: translateX(-3px) rotate(-15deg);
    transform: translateX(-3px) rotate(-15deg)
  }

  12.78571%,
  8.78571% {
    -webkit-transform: translateX(2px) rotate(14deg);
    transform: translateX(2px) rotate(14deg)
  }

  10.78571%,
  14.78571% {
    -webkit-transform: translateX(-2px) rotate(-14deg);
    transform: translateX(-2px) rotate(-14deg)
  }

  16.78571% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0)
  }

  18.78571% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0)
  }
}


label {
  font-size: 14px;
  color: #333
}

#health_camp .modal-header {
  padding: .5rem 1rem;
  background: linear-gradient(45deg, #64b934, #dde0e8eb)
}

#health_camp .modal-header h5 {
  color: #fff
}

#health_camp .modal-content {
  border: 0
}

.spread {
  display: block;
  box-shadow: 0 0 296px 80px #70bf44;
  z-index: 27;
  position: absolute;
  top: 265px;
  right: 125px
}

.left-band-1,
.left-band-2 {
  position: absolute;
  height: 55px;
  left: 0
}

.left-band-1 {
  width: 420px;
  top: 707px;
  background: #70bf44
}

.left-band-2 {
  width: 275px;
  top: 762px;
  background: #a1ec77
}

.right-band-1 {
  width: 993px;
  top: 665px;
  background: #d2d7e3
}

.right-band-1,
.right-band-2,
.right-band-3 {
  position: absolute;
  height: 55px;
  right: 0;
  z-index: -1
}

.right-band-2 {
  width: 1115px;
  top: 720px;
  background: #70bf44
}

.right-band-3 {
  width: 689px;
  top: 775px;
  background: #a1ec77
}

.sec-2,
.sec-3 {
  padding-top: 2.5rem;
  padding-bottom: 1rem
}

.hero-text-box h3 {
  font-size: 48px;
  color: #333;
}

.heading-sm,
.title-md,
.title-lg {
  font-weight: 500;
}

span.right-arrow i {
  // margin-bottom: 6px;
  margin-right: -3px;
}

.sec-3 {
  padding-top: 10rem
}

.bg-light-green {
  background-color: #d9eacb;
}


.sec-3 {
  background-image: url('/assets/Creative/Benifits.png');
  /* Adjust the path based on your project structure */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;


  .img-fluid {
    height: 135px !important;
  }

}




.hero-img-right {
  .hero-img-right {
    position: relative;
  }

  .img1,
  .img2 {
    position: absolute;
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain the aspect ratio */
  }

  .img1 {
    z-index: 1;
    object-fit: contain;
  }

  .img2 {
    z-index: 2;
    object-fit: contain;
  }

}

.sec-5 {

  .img-fluid {
    max-width: 70%;
    height: auto;
  }

  .col-md-6 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .col-md-6 span {
    position: absolute;
    z-index: 1;
    font-size: 10rem;
    font-weight: 600;
    color: #dbeeca;
  }

  .col-md-6 p {
    position: relative;
    z-index: 2;
    font-size: 21px;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .col-md-6 span {
      font-size: 6rem;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 10px;
    }

    .col-md-6 p {
      font-size: 16px;
      height: 150px;
      overflow: hidden;
    }
  }



  .container .row {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work_count_1 {
    // top: -180px;
    right: 0;
  }

  .work_count_2 {
    // top: -180px;
    left: 0;
  }

  .work_count_3 {
    // top: -180px;
    right: 0;
  }

  .work_count_4 {
    // top: -180px;
    left: 0;
  }

  .work_count_5 {
    // top: -180px;
    right: 0;
  }

}

.work_count_1 {
  position: absolute;
  z-index: 1;
  font-size: 10rem;
  font-weight: 600;
  color: #dbeeca;
}

.work_count_2 {
  position: absolute;
  z-index: 1;
  font-size: 10rem;
  font-weight: 600;
  color: #dbeeca;
}

.work_count_3 {
  position: absolute;
  z-index: 1;
  font-size: 10rem;
  font-weight: 600;
  color: #dbeeca;
}

.work_count_4 {
  position: absolute;
  z-index: 1;
  font-size: 10rem;
  font-weight: 600;
  color: #dbeeca;
}

.work_count_5 {
  position: absolute;
  z-index: 1;
  font-size: 10rem;
  font-weight: 600;
  color: #dbeeca;
}

.work_count_3paragraph {
  position: relative;
  z-index: 2;
  font-size: 21px;
}

.work_count_1paragraph {
  position: relative;
  z-index: 2;
  font-size: 21px;
}

.work_count_2paragraph {
  position: relative;
  z-index: 2;
  font-size: 21px;
}

.work_count_4paragraph {
  position: relative;
  z-index: 2;
  font-size: 21px;
}

.work_count_5paragraph {
  position: relative;
  z-index: 2;
  font-size: 21px;
}

.hero-img-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30rem;
}

.hero-img-right img {
  max-height: 100%;
  width: auto;
}

a.scroll-to-top,
a.scroll-top {
  position: fixed;
  align-items: center
}

a.scroll-top {
  display: inline-flex;
  flex-direction: column;
  top: 50%;
  right: 0;
  width: auto;
  height: 100px
}

a.scroll-top span {
  font-size: 10px;
  transform: translate(2px, 2rem) rotateZ(815deg)
}

a.scroll-to-top {
  height: 30px;
  width: 30px;
  bottom: .5rem;
  right: .5rem;
  border-radius: 3px
}

.right-arrow,
a.scroll-to-top,
a.scroll-to-top:hover {
  background: #70bf44;
  color: #fff
}

.right-arrow,
a.scroll-to-top {
  display: flex;
  justify-content: center
}

.right-arrow {
  position: absolute;
  top: 53%;
  left: 92%;
  transform: translate(0, -50%);
  height: 60px;
  width: 60px;
  align-items: center;
  font-size: 45px;
  font-weight: 800;
  border-radius: 50%;
  z-index: 2;
}

.footer-sec a,
.footer-sec p {
  color: #fffffff0;
  font-size: 15px
}

.footer-sec {
  background-color: #0d110d
}

.card-border-1,
.card-border-2 {
  border-top: 15px solid #deffc4;
  border-radius: 7px
}

.card-border-2 {
  border-top: 15px solid #bcff96
}

.card-border-3,
.card-border-4 {
  border-top: 15px solid #a1ec77;
  border-radius: 7px
}

.card-border-4 {
  border-top: 15px solid #70bf44
}

.card-border-5 {
  border-top: 15px solid #5fa33a
}

.some-story-title {
  position: absolute;
  top: 90px;
  left: 55px;
}

@media (max-width: 425px) {
  .right-arrow {
    top: 108%;
    left: 50%;
    transform: translate(-46%, -50%) rotate(90deg);
  }

  .some-story-1 {
    margin-bottom: 7rem;
  }

  .some-story-title {
    margin-top: 20px;
    position: static;
  }
}

.border-y-white {
  border-bottom: 1px solid #ffffffa6;
}

.custom-border-top {
  border-top: 1px solid #000 !important;
  /* You can change #000 to the color you prefer */

}


span.right-arrow.first-arrow {
  left: 50%;
  top: 88%;
  transform: translate(-50%) rotate(90deg);
}



.req {
  color: #de252c;
}

.bts-form .custom-file-label::after {
  background-color: #f8fef8;
  border-left: 1px solid #d3d3d3;
}

.bts-form #progressbar #product:before {
  font-family: FontAwesome;
  content: "1" !important;
}

.bts-form #progressbar #register:before {
  font-family: FontAwesome;
  content: "2" !important;
}

.bts-form #progressbar #document:before {
  font-family: FontAwesome;
  content: "3" !important;
}

.bts-form #progressbar #finish:before {
  font-family: FontAwesome;
  content: "4" !important;
}

.product-select-box i.fa.fa-check-circle {
  position: absolute;
  top: 7px;
  right: 0;
  display: none;
}

.product-select-box i.fa.fa-check-circle.active {
  position: absolute;
  top: 3px;
  right: 0;
  display: block !important;
}

.product-select-box {
  cursor: pointer;
  height: 218px !important;
  width: 194px !important;
}

.bts-form #progressbar li {
  width: 25% !important;
}

.alert {
  position: relative;
}

.card-body {
  padding-right: none !important;
  padding-left: none !important;
}

.alert.alert-dismissible button.close {
  right: 10px !important;
  top: 5px !important;
  padding: 0 !important;
}

.document_instruction_wrapper {
  text-align: center;
}

.document_instruction {
  width: 100px;
  height: 100px;
}

#progressbar li:before {
  z-index: 2;
  position: relative;
}

#progressbar li:before {
  width: 35px;
  height: 35px;
  line-height: 31px;
  font-size: 18px;
}


#progressbar li:after {
  z-index: 0;
  top: 18px;
}

.modal-header .modal-title {
  font-size: 18px;
}


.faq-section {
  position: relative;
  height: auto;
  background-color: #90c5a0;

  .faq_question {
    border: 3px solid white;
    padding: 4px;
    align-items: center;
    color: white;
    font-size: 17px;
  }

  .text-center p {
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 2px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .faq_img1 {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }

  .faq_img2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
  }

  .p.text-white {
    font-size: 17px;
    letter-spacing: 0.015em;
  }

  .faq-button-container {
    margin-bottom: 22px;
    /* Adjust margin as needed */
  }


}


#msform .action-button {
  width: auto;
  background: #2daae1;
  font-weight: 700;
  color: #fff;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 5px 16px;
  margin: 10px 0 10px 5px;
  float: right;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #d3d3d3;
  padding-left: 0;
}

#progressbar .active {
  color: #2daae1;
}

.bts-form #progressbar li {
  width: 25% !important;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}



.product-section-bar .prod-desc-menu li a,
a,
address,
p,
table td,
ul li {
  font-family: proxima_novasbold, Helvetica, Arial, sans-serif;
}

#progressbar li:before {
  content: "";
  color: #fff;
  background: #d3d3d3;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 5px;
  padding: 2px;
  font-size: 17px;
  z-index: 2;
}

#progressbar li.active:after,
#progressbar li.active:before {
  background: #6dc35a;
}

.fs-title {
  font-size: 20px;
  color: #696868;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: left;
}

.steps {
  font-size: 17px;
  color: gray;
  margin-bottom: 10px;
  text-align: right;
}

// .container {
//   /* max-width: 85% !important; */
//   // max-width: 1170px !important;

// }

.bts-carousel .owl-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  margin-top: 6px;
}

.card-body {
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
  height: 208px !important;

}

.heading-link,
.heading-link-sm {
  color: #333;
  font-size: 16px;
  transition: .3s;
  margin-bottom: 0.5rem;
  display: block;
  margin-top: 0px !important;

}

.recommended-img-box {
  height: 7rem;
  margin-bottom: 8px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.recommended-img-box {
  height: 7rem;
  margin-bottom: 8px;
  margin-top: -41px !important;
}

.img-box-sm,
.recommended-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  margin-left: 29px;
}

.ui-steps .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.first_step {
  float: right;
  font-weight: 700;
  height: 40px;
  width: 62px;
  justify-content: center;

}

.steps_des {
  border: none;
  color: #6c757d;
  font-weight: 500;
  background: none;

}

.p_header {
  justify-content: center !important;
  // margin-left: 855px;
}

@media (max-width: 520px) {
  .bs-stepper-header {

    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 0px -15px !important;
    padding: 0px;
  }

  .p-dialog .p-dialog-content {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    /* padding: 0 1.25rem 1.25rem 1.25rem; */
  }

  .col-md-12 {
    padding: 0px !important;
    margin: 0px !important;
  }

  .steps_des {
    border: none;
    color: #6c757d;
    font-weight: 500;
    background: none;
    width: 70px !important;
    overflow: hidden;
    /* margin: 0px !important; */
  }

  .bs-stepper-label {
    display: inline-block;
    /* margin: 0.25rem; */
    margin-left: -7px !important;

    font-size: 12px !important;
  }

  .bs-stepper-circle {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 2em;
    margin-right: 27px !important;
    height: 2em;
    padding: 0.5em 0;
    margin: 0.25rem;
    line-height: 1em;
    color: #fff;
    background-color: #6c757d;
    border-radius: 1em;
  }

  .bs-stepper .line,
  .bs-stepper-line {
    flex-basis: 10px !important;
  }

  .respon_he {
    margin-top: -1px;
    margin-bottom: 14px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 20px !important;
    right: auto;
    margin-top: 123px !important;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 20px !important;
    margin-top: 123px !important;
    left: auto;
  }

}

@media (max-width: 770px) {
  .card-body {
    padding-right: 0.8rem !important;
    padding-left: 0.8rem !important;
    height: 215px !important;
  }
  .sec-1 {
    .btn {
      bottom: -1rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .scroll-to-id {
    font-size: 14px !important;
  }

}