<section class="trade-sec-1 py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        <h2 class="title-md mb-3">
          Take your old iPhone, Mac or iPad to your local unicorn store and get instant in-store credit towards the purchase of a new Apple device.
        </h2>
        <h5 class="heading fw-400 text-center">
          It’s never been easier to upgrade your old device and lower the cost of a new one.
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="trade-sec-2 pb-5">
  <div class="container">
    <h1 class="title-md text-center mb-3">Submit your inquiry</h1>
    <hr class="my-2">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <img src="assets/img/bg/MBP.png" style="max-height: 350px; width: auto;" class="img-fluid">
      </div>
      <div class="col-sm-6">
        <form>
          <div class="form-group">
            <label for="user_name">Full Name</label>
            <input type="text" id="user_name" value="" class="form-control form-control-sm" name="user_name">
          </div>

          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="phone_no">Phone</label>
                <input type="text" class="form-control form-control-sm" id="phone_no" name="phone_no">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email_id">Email</label>
                <input type="email" class="form-control form-control-sm" id="email_id" name="email_id">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Preferred Store Location</label>
                <select name="location" class="custom-select custom-select-sm">
                  <option value=" Ahmedabad - Ashram Road"> Ahmedabad - Ashram Road</option>
                  <option value=" Ahmedabad - Devarc Mall"> Ahmedabad - Devarc Mall</option>
                  <option value=" Ahmedabad - Himalaya Mall"> Ahmedabad - Himalaya Mall</option>
                  <option value=" Ahmedabad - Motera"> Ahmedabad - Motera</option>
                  <option value=" Ahmedabad - Prahlad Nagar"> Ahmedabad - Prahlad Nagar</option>
                  <option value=" Delhi - Defence Colony"> Delhi - Defence Colony</option>
                  <option value=" Delhi - Malviya Nagar"> Delhi - Malviya Nagar</option>
                  <option value=" Delhi - Pacific Mall"> Delhi - Pacific Mall</option>
                  <option value=" Faridabad - Crown Interiorz"> Faridabad - Crown Interiorz</option>
                  <option value=" Gurgaon - DLF Cyber City"> Gurgaon - DLF Cyber City</option>
                  <option value=" Gurgaon - One Horizon"> Gurgaon - One Horizon</option>
                  <option value=" Mumbai - Andheri West"> Mumbai - Andheri West</option>
                  <option value=" Mumbai - Colaba"> Mumbai - Colaba</option>
                  <option value=" Mumbai - Inorbit mall"> Mumbai - Inorbit mall</option>
                  <option value=" Mumbai - Oberoi Mall"> Mumbai - Infinity Mall</option>
                  <option value=" Mumbai - Kalyan Store"> Mumbai - Kalyan Store</option>
                  <option value=" Mumbai - Oberoi Mall"> Mumbai - Oberoi Mall</option>
                  <option value=" Lucknow - Hazratganj"> Lucknow - Hazratganj</option>
                  <option value=" Lucknow - One Awadh"> Lucknow - One Awadh</option>
                  <option value=" Lucknow - One Awadh"> Lucknow - Phoenix Palassio</option>
                  <option value=" Pune - Aundh"> Pune - Aundh</option>
                  <option value=" Pune - MG Road"> Pune - MG Road</option>
                  <option value=" Pune - Pavillion Mall"> Pune - Pavillion Mall</option>
                  <option value=" Pune - Shivaji Nagar JM Road"> Pune - Shivaji Nagar JM Road</option>
                  <option value=" Pune - Phoenix Marketcity"> Pune - Phoenix Marketcity</option>
                  <option value=" Pune - Viman Nagar"> Pune - Viman Nagar</option>
                  <option value=" Pune - Westend Mall Aundh"> Pune - Westend Mall Aundh</option>
                  <option value=" Punjab - Chandigarh"> Punjab - Chandigarh</option>
                  <option value=" Punjab - Patiala"> Punjab - Patiala</option>
                  <option value=" Vadodara - Eva Mall"> Vadodara - Eva Mall</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Product Interested In</label>
                <select name="interested" class="custom-select custom-select-sm">
                  <option value=" iPhone 11"> iPhone 11</option>
                  <option value=" iPhone 11 Pro"> iPhone 11 Pro</option>
                  <option value=" iPhone 11 Pro Max"> iPhone 11 Pro Max</option>
                  <option value=" iPhone XR 1yr Plan"> iPhone XR 1yr Plan</option>
                  <option value=" iPad 7th Generation"> iPad 7th Generation</option>
                  <option value=" iPhone XR"> iPhone XR</option>
                  <option value=" iPhone XS"> iPhone XS</option>
                  <option value=" iPhone X"> iPhone X</option>
                  <option value=" iPhone 8"> iPhone 8</option>
                  <option value=" iPhone 8 Plus"> iPhone 8 Plus</option>
                  <option value=" iPhone 7"> iPhone 7</option>
                  <option value=" iPhone 7 Plus"> iPhone 7 Plus</option>
                  <option value=" iPhone 6s"> iPhone 6s</option>
                  <option value=" MacBook"> MacBook</option>
                  <option value=" MacBook Air"> MacBook Air</option>
                  <option value=" MacBook Pro"> MacBook Pro</option>
                  <option value=" iMac"> iMac</option>
                  <option value=" iMac Pro"> iMac Pro</option>
                  <option value=" Mac Pro"> Mac Pro</option>
                  <option value=" Mac Mini"> Mac Mini</option>
                  <option value=" iPad Pro"> iPad Pro</option>
                  <option value=" iPad"> iPad</option>
                  <option value=" iPad mini"> iPad mini</option>
                  <option value=" Apple Watch 5"> Apple Watch 5</option>
                  <option value=" Apple Watch 4"> Apple Watch 4</option>
                  <option value=" Apple Watch 3"> Apple Watch 3</option>
                  <option value=" Apple TV 4k"> Apple TV 4k</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
