<div class="row" *ngIf="bestsellersHolder && bestsellersHolder.length > 0">
  <div class="col-sm-9 col-12 mt-2  col-xl-10 ">
    <div class="row align-items-end">
      <div class="col-md-6 col-sm-6 col-11 col-lg-6 col-xl-6">
        <h4 class="product_namess pl-5 ">Bestsellers products</h4>
      </div>
      <div class="col-md-6 col-sm-6 col-1 col-lg-6 col-xl-6">
        <div class="swiper_btn">
          <div class="swiper-button-next second-swiper-bestseller-next"></div>
          <span class="slide_pipe second-swiper-bestseller-next">|</span>
          <div class="swiper-button-prev second-swiper-bestseller-prev"></div>
        </div>
      </div>
    </div>

    <swiper [config]="swiperConfigs" direction="horizontal"
      [autoHeight]="false"
      [allowTouchMove]="true"
      [autoplay]="{ delay: 1000, disableOnInteraction: false }"
      [pagination]="false"
      [navigation]="{ nextEl: '.second-swiper-bestseller-next', prevEl: '.second-swiper-bestseller-prev' }">
      <ng-template class="swipe mb-3" swiperSlide *ngFor="let re_product of bestsellersHolder">
        <!-- <a class="fisrt_col_best  " [routerLink]="getRouterLink(re_product)"> -->
        <a class="fisrt_col_best  " [routerLink]="['/product', re_product.slug]" (click)="fireBestSellersSelectGAEvents(re_product)">
          <div class="card h-100  ">
            <div class="card-body" *ngIf="!loading; else skeleton">
              <span class="saless p-1" *ngIf="re_product.price > re_product.saleprice"> {{ calculateSalePercentage(re_product) }}</span>
              <div class="text-center slider-img-box">
                <!-- Image Skeleton -->
                <p-skeleton width="100%" height="200px" animation="wave" class="mb-3"></p-skeleton>
                <img *ngIf="re_product.images?.length > 0" [src]="imgUrl + '/full/' + re_product.images[0].filename" alt="Product Image" class="img-fluid" (load)="loading = false">
                <img *ngIf="!re_product.images || re_product.images.length === 0" src="./assets/img/not-found/no-image-found.png" alt=" ">
              </div>
              <div class="text-center">
                <p class="mt-2 pricee truncated " style="text-align: center;">{{ re_product.name }}</p>
                <!-- <p-rating [ngModel]="re_product.average_rating" [cancel]="false" class="rating ratings"></p-rating> -->
                <span class="price_main mb-3" *ngIf="re_product.price > re_product.saleprice">
                  <app-price [price]="re_product.price" [saleprice]="re_product.saleprice" [strikePrice]="re_product.price" [isVerticalPrice]="true"></app-price>
                </span>
              </div>
            </div>
          </div>
        </a>
      </ng-template>

      <!-- Skeleton Template -->
      <ng-template #skeleton>
        <div class="card h-100">
          <div class="card-body">
            <!-- <span class="saless p-1  "  > <p-skeleton width="60px" animation="wave"></p-skeleton> </span> -->
            <!-- Image Skeleton -->
            <p-skeleton width="100%" height="200px" animation="wave" class="mb-3 "></p-skeleton>
            <div class="text-center">
              <p-skeleton width="70%" height="10px" animation="wave" class="mt-2 mb-2 "></p-skeleton>
              <p-skeleton width="100%" height="20px" animation="wave" class="mb-2 mt-2"></p-skeleton>
              <p-skeleton width="70%" height="20px" animation="wave" class="mb-3 mt-2"></p-skeleton>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
  <div class="col-sm-auto   mt-2 col-md-3 col-lg-3 col-xl-2 text-center">
    <a routerLink="/accessories/beats-solo-4-on-ear-wireless-headphones" class="pointer">
      <img src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/homepage-promotion-banners/vertical-banner-2.jpg" alt="Product" class="img-fluid img_bestseller border">
    </a>
  </div>
</div>
