<div class="description mt-4">
    <div class="row justify-content-center">
        <div class="col-xl-6 this-week col-sm ">
            <img src="https://placehold.co/700x624" class="img-fluid" alt="prodduct">
        </div>
        <div class="col-sm col-12 col-lg-6 col-md-12">
            <div class="row">
                <div class="col-sm-6 col-6 mb-4">
                    <img src="assets/img/logo/Frame 11857.png" class="img-fluid" alt="prodduct">
                </div>
                <div class="col-sm-6 col-6 mb-4">
                    <img src="assets/img/logo/Frame 11858.png" class="img-fluid" alt="prodduct">
                </div>
                <div class="col-sm-6 col-6 mb-4">
                    <img src="assets/img/logo/Frame 11860.png" class="img-fluid" alt="prodduct">
                </div>
                <div class="col-sm-6 col-6 mb-4">
                    <img src="assets/img/logo/Frame 11859.png" class="img-fluid" alt="prodduct">
                </div>
            </div>
        </div>
    </div>
</div>
