<div class="tab-pane fade active show" id="new_in">
    <div class="description">
        <div class="row justify-content-center">
            <div class="col-xl-6 this-week col-sm">
                <a href="https://shop.unicornstore.in/category/iphone1" target="_blank">
                    <img src="assets/img/logo/Frame 11856.png" class="img-fluid" alt=" ">
                </a>
            </div>
            <div class="col-sm col-12 col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-sm-6 col-6 mb-4">
                        <a href="https://shop.unicornstore.in/watch" target="_blank" class="d-block">
                            <img src="assets/img/logo/Frame 11857.png" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="col-sm-6 col-6 mb-4">
                        <a href="https://shop.unicornstore.in/headphones-and-speakers3/airpods3" target="_blank" class="d-block">
                            <img src="assets/img/logo/Frame 11858.png" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="col-sm-6 col-6 mb-1">
                        <a href="https://shop.unicornstore.in/headphones-and-speakers3/homepods" target="_blank" class="d-block">
                            <img src="assets/img/logo/Frame 11860.png" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="col-sm-6 col-6 mb-1">
                        <a href="https://shop.unicornstore.in/headphones-and-speakers3/airpods3" target="_blank" class="d-block">
                            <img src="assets/img/logo/Frame 11859.png" class="img-fluid" alt=" ">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
