<section class="page-section">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <h2>Disclaimer Policy</h2>
                <hr>
                <br>
                The information contained in this website is for general information purposes only. The information is provided by Unicorn Infosolutions Pvt Ltd and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
                <br>
                In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in connection with, the use of this website.
                <br>
                Through this website you are able to link to other websites which are not under the control of Unicorn Infosolutions Pvt Ltd. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
                <br>
                Every effort is made to keep the website up and running smoothly. However, Unicorn Infosolutions Pvt Ltd takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
                <p></p>
                <p>
                    <br>
                </p>
                <p>Sales on shop.unicornstore.in are intended for final customers only (B2C).</p>
                <p>Unicorn Infosolutions, at their own discretion, will cancel and refund orders that are ordered by companies/individuals that intend to re sell products.</p>
                <p>Orders that are requested to be cancelled after 24 hours of payment, will be charged a 3% fee to account for payment gateway charges.</p>
                <p>Orders that come under the HDFC affordability (cashback) program, cannot be cancelled
                    <br>
                </p>
                <h5></h5>
                <h3>Unicorn Infosolutions Pvt Ltd is located at</h3>
                <ul>
                    <li>
                        <strong>Address :</strong> B/9, Shivalik, Malviya Nagar, New Delhi-110017
                    </li>
                    <li>
                        <strong>Phone :</strong>
                        <a href="tel:8879017331">8879017331</a>
                    </li>
                    <li>
                        <strong>E-mail :</strong>
                        <a href="mailto:unicornretail@uipl.co.in">unicornretail@uipl.co.in</a>
                    </li>
                    <li>
                        <strong>Website:</strong>
                        <a href="https://www.shop.unicornstore.in/">www.shop.unicornstore.in</a>
                    </li>
                </ul>
                <p></p>
            </div>
        </div>
    </div>
</section>
