<!-- Banners Start -->
<section class="banners-sec" *ngIf="bannerHolder && bannerHolder.length > 0 && !isBannersLoading">
  <div class="carousel slide carousel-fade" data-ride="carousel" id="banners"> <!-- data-interval="false" -->
    <ol class="carousel-indicators d-none d-sm-flex">
      <ng-container *ngFor="let banner of bannerHolder; let i = index">
        <li [attr.data-slide-to]="i" [class.active]="i === 0" data-target="#banners"></li>
      </ng-container>
    </ol>

    <div class="carousel-inner text-center">
      <ng-container *ngFor="let banner of bannerHolder; let i = index">
        <div [class.active]="i === 0" class="carousel-item" (click)="onClickBanner(banner)">

          <div *ngIf="!banner.link" class="d-flex align-items-center justify-content-center pointer">

            <img *ngIf="banner.image" [imgLazyLoad]="banner.image" [alt]="banner.alt" class="img-fluid w-100 d-none d-sm-block">
            <img *ngIf="banner.mobile_image" [imgLazyLoad]="banner.mobile_image" [alt]="banner.alt" class="img-fluid w-100 d-sm-none">

            <span *ngIf="!banner.image && !banner.mobile_image">Banner Image Not Available</span>
          </div>

          <a *ngIf="banner.link" [href]="banner.link" [target]="(+banner.new_window === 1) ? '_blank' : '_self'" class="d-flex align-items-center justify-content-center">

            <img *ngIf="banner.image" [imgLazyLoad]="banner.image" [alt]="banner.alt" class="img-fluid w-100 d-none d-sm-block">
            <img *ngIf="banner.mobile_image" [imgLazyLoad]="banner.mobile_image" [alt]="banner.alt" class="img-fluid w-100 d-sm-none">

            <span *ngIf="!banner.image && !banner.mobile_image">Banner Image Not Available</span>
          </a>

        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="bannerHolder && bannerHolder.length > 1">
      <a class="carousel-control-prev" data-slide="prev" href="#banners" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" data-slide="next" href="#banners" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </ng-container>

  </div>
</section>

<!-- Banners Skeleton -->
<div class="banner-skeleton" *ngIf="isBannersLoading">
    <p-skeleton width="100%" height="50vh" class="d-block"></p-skeleton>
</div>

<!-- Banners End -->

<div class="sections-container">

  <!-- Business use cases Section -->
  <section class="second-section bg-white ">
    <!--      Show carousel only on screens of exactly 768px -->

    <!--    Show Without carousel other screens  -->
    <div class="container-fluid my-4  business_use">
      <div class="row  ">
        <div class="col-6 col-sm-6 mb-4 mb-sm-0 mb-md-3 col-md-6 col-xl-3">
          <a routerLink="/accessories/airpods-4" class="card business_img small_img">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/11.jpeg" alt="Card image cap">
          </a>
        </div>
        <div class="col-auto col-sm-6 mb-4 mb-sm-0 col-md-6 col-xl-3 mb-md-3">
          <a routerLink="/category/apple-watch-series-10" class="card business_img">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/41.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="col-auto col-sm-6 mb-4 mb-sm-0 mb-md-3 col-md-6 col-xl-3 ">
          <div class="card business_img third_images">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/3.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-auto col-sm-6 mb-4 mb-sm-0 col-md-3 mb-md-6 col-xl-3">
          <a routerLink="/support" class="card business_img small_img_manage">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/2.jpg" alt="Card image cap">
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="featured-product-section mb-4">
  <div class="container-fluid">
    <div class="row" id="featured_product_container" #featuredProductContainer>
      <div class="col-md-6 col-sm-6 col-auto col-lg-6 col-xl-6">
        <h4 class="weekly_best mb-0">Featured Products</h4>
      </div>
    </div>
    <!-- Featured Product component lazy loaded -->
    <app-featured-products></app-featured-products>
    
  </div>
</section>

<!-- Deals of the day -->
<section class="deals-off-the-day-section">
  <div class="container-fluid">
    <div class="row" id="deals-of-the-day-container" #dealsOfTheDayContainer>
      <div class="col-md-6 col-sm-6 col-auto col-lg-6 col-xl-6">
        <h4 class="deal_best weekly_best p-2">Product Categories</h4>
      </div>
    </div>
    <app-deals-of-the-day></app-deals-of-the-day>
    
  </div>
</section>

<section class="recommended-product-section mb-4">
  <div class="container-fluid">
    <div class="row" id="recommendedAccessoriesContainer" #recommendedAccessoriesContainer>
      <div class="col-md-6 col-sm-6 col-11 col-lg-6 col-xl-6">
        <h4 class="weekly_best mb-0">Recommended Accessories</h4>
      </div>
      <div class="col-md-6 col-sm-6 col-1 col-lg-6 col-xl-6">
        <div class="swiper_btn">
          <div class="next swiper-button-next ra-swiper-next"></div>
          <span class="slide_pipe ">|</span>
          <div class="pre swiper-button-prev ra-swiper-prev"></div>
        </div>
      </div>
    </div>
    <!-- Recommended Accessories component lazy loaded -->
    <app-recommended-accessories></app-recommended-accessories>
  </div>
</section>

<!-- Weekly Bestseller Started here -->
<div class="container-fluid">
  <div class="row align-items-end">

    <div class="col-sm-12 col-xl-12">
      <div class="row" id="weekly_bestsellers_container" #weeklyBestSellersContainer>
        <!-- <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
          <h4 class="weekly_best mb-0">Weekly Bestsellers</h4>
        </div>
        <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
          <div class="swiper_btn">
            <div class="swiper-button-next first-swiper-next"></div>
            <span class="slide_pipe first-swiper-next ">|</span>
            <div class="swiper-button-prev first-swiper-prev"></div>
          </div>
        </div> -->
      </div>
      <!-- Weekly Bestsellers Lazy Loaded here... -->
      <app-weekly-bestsellers></app-weekly-bestsellers>
      
    </div>
  </div>
</div>

<!-- Popular Product started Here -->
<section class="popular-products">
  <div class="container-fluid">
    <div class="row align-items-end mb-2">
      <div class="col">
        <h4 class="product_namess m-0  pl-5">Popular products | <span class="text-muted deals_list"> Recommendations for your lifestyle</span></h4>
      </div>
      <div class="col-auto pr-5">
        <nav class="pt-3 text-end">
          <div class="nav nav-tabs container-fluid pdp-tab d-flex float-right m-0 mr-5" role="tablist">
            <a class="nav-link active show tabs-smalls" data-toggle="tab" href="#Iphone">iPhone</a>
            <a class="nav-link tabs-smalls" data-toggle="tab" href="#Macc" (click)="PopularMacLoad()">Mac</a>
            <a class="nav-link tabs-smalls" data-toggle="tab" href="#Ipad" (click)="PopulariPadLoad()">iPad</a>
            <!-- <a class="nav-link" data-toggle="tab" href="#Watch" (click)="PopularProductWatch()">Watch</a> -->
            <a class="nav-link tabs-smalls" data-toggle="tab" href="#airpod" (click)="PopularProductAirpod()">AirPods</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="tab-content container-fluid my-3">
    <div class="tab-pane fade active show">
      <div class="tab-content">
        <div class="tab-pane  fade active show  " id="Iphone">
          <!-- Lazy Loading Here For iPhone -->
          <div #PopularsProductsiPhone></div>
          <app-popular-product-iPhone></app-popular-product-iPhone>
        </div>
        <div class="tab-pane  fade" id="Macc">
          <!-- Lazy Loading Here For Mac -->
          <div #PopularsProductsMAC></div>
          <app-popular-product-Mac></app-popular-product-Mac>
        </div>
        <div class="tab-pane fade" id="Ipad">
          <!-- Lazy Loading Start here For iPad -->
          <div #PopularsProducts_iPad></div>
          <app-popular-product-iPad></app-popular-product-iPad>
        </div>

        <div class="tab-pane fade" id="Watch">
          <!-- Lazy LoadingStart here for Watch -->
          <div #PopularsProductsWatch></div>
          <app-popular-product-watch></app-popular-product-watch>
        </div>
        <div class="tab-pane fade" id="airpod">
          <!-- Lazy LoadingStart here for Watch -->
          <div #PopularsProductsAirpod></div>
          <app-popular-product-airpod></app-popular-product-airpod>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Watch Promotion Container -->
<div class="my-2">
  <a routerLink="/products/apple-watch-series-81" class="d-flex justify-content-center">
    <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/homepage-promotion-banners/horizontal-banner-1.jpg" alt=" ">
  </a>
</div>

<!-- Bestsellers Section -->
<section class="bestsellers-products mb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-12 mt-2  col-xl-12 ">
        <div class="row align-items-end" id="bestSellersProductsContainer" #bestSellersProductsContainer>
          <!-- <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
            <h4 class="product_namess pl-5 ">Bestsellers products</h4>
          </div>
          <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
            <div class="swiper_btn">
              <div class="swiper-button-next second-swiper-bestseller-next"></div>
              <span class="slide_pipe second-swiper-bestseller-next">|</span>
              <div class="swiper-button-prev second-swiper-bestseller-prev"></div>
            </div>
          </div> -->
        </div>
        <!-- Bestsellers products Lazy Loaded here... -->
        <app-bestsellers></app-bestsellers>
      </div>
      <!-- <div class="col-sm-auto   mt-2 col-md-3 col-lg-3 col-xl-2 text-center">
        <a [routerLink]="'/accessories/airpods-earpods1'"  class="pointer">
          <img src="assets/home/Vertical Banners.jpg" alt="Product" class="img-fluid img_bestseller border">
        </a>
      </div> -->
    </div>
  </div>
</section>
<!-- fa-chevron-left -->
<!-- <button type="button" (click)="toggleButtons()" class="floating-icos" [ngStyle]="{'margin-right': disableButtons ? '27px' : '5px'}"><i class="fab fa-creative-commons-sa"></i></button>
<div class="floating-btns" [ngClass]="{ 'disabled': disableButtons }">
  <button type="button" class="btn scroll-to-id  face_books" (click)="toggleButtons()"><i class="fa fal fa-times-circle"></i></button>
 
  <a *ngFor="let socialMedia of socialMediaHolder" [href]="socialMedia.url" target="_blank">
    <button type="button" class="btn scroll-to-id face_books" [ngClass]="socialMedia.name.toLowerCase()">
      <i [ngClass]="getIconClass(socialMedia.name)" class="fab mx-1"></i>{{ socialMedia.name }}
    </button>
  </a>
</div> -->

<!-- <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-facebook-square mx-1"></i>Facebook</button>
  <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-instagram-square mx-1"></i>Instagram</button>
  <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-youtube mx-1"></i>Youtube</button>
  <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-linkedin mx-1"></i>Linkedin</button>
  <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-twitter-square mx-1"></i>Twitter</button>   -->
