.deals_list {
	color: #979797 !important;
	font-size: 17px !important;
}

.carousel-item{
	min-height: 50vh;
}

.nav-tabs .nav-link {
	border: 0;
	border-bottom: 2px solid transparent;
	border-radius: 0 !important;
	color: #474747 !important;
	white-space: nowrap;
	padding: 0;
	margin: 0 8px;
	font-weight: 700;
}

.heading-link-sm {
	font-size: 14px;
	color: black !important;
	font-weight: 400;
	display: block;
}

.img_bussinness {
	height: auto;
	max-width: 100%;
	max-height: 100%;
	width: auto;
}

// .pdp-tab .nav-link {
//     width: 100%;
//      text-align: start; 
//     border: 0 !important;
// }
.first_colm {
	border: 1px solid #e4e4e4;
	border-radius: 5px !important;
}

.imagess {
	height: 320px !important;
	pointer-events: all;
	border: none;
	margin-top: 1px;
}

.sales {
	background-color: #28a745 !important;
	color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 3px;
	left: 3px;
}

.sales_offer {
	background-color: #28a745 !important;
	color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 7px;
	left: 16px;
}

.saless {
	background-color: #28a745 !important;
	color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 3px;
	left: 3px;
}

.center-images {
	text-align: center;
}

.pricee {
	font-size: 20px;
	margin: 0px;
	text-align: center;
}

.price_main {
	// color: #5c5c5c;
	font-size: 17px;
	font-weight: 500;

}

//    .price_main{
//     color: #5c5c5c;
//     font-size: 23px;
//     margin-left: 37px;

//    }
.img_bestseller {
	height: 29rem !important;
}

.view_product {
	background-color: #474747 !important;
}

.option-colorss {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #e9818b;
	margin: 5px;
}

.add_cart {
	border: 1px solid #9f9f9f;
	border-radius: 36px !important;
	text-align: center;
	font-size: 12px !important;
	padding: 3px 8px !important;
}

.image_dis {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

.details {
	margin-bottom: 0px;
	color: black;
	font-size: 15px;
	font-weight: 500;
}

.img_content {
	height: 10rem !important;
	width: 10rem !important;

}


.details_help {
	align-items: center !important;
	justify-content: center !important;
}

.payment_details {
	color: #5c5c5c;
	font-size: 15px;
}

.title_help {
	color: black;
	font-size: 20px;
}

@media screen and (max-width: 500px) {
	.payment_details {
		font-size: 11px;
	}

	.title_help {
		font-size: 11px;
	}
}

@media screen and (max-width: 500px) {
	.pdp-tab {
		font-size: 13px !important;
	}


}

.weekly {
	border: 1px solid #ccdaff;
	height: 500px;
}

.fisrt_col_best {
	// border: 1px solid #d6d6d6;
	border-radius: 5px;
	height: 100% !important;
}

.weekly_best {
	color: #212529;
	font-size: 21px;
	font-weight: 500;
	padding: 13px;
}

.deal_best {
	color: #212529;
	font-size: 21px !important;
	font-weight: 500;
	text-align: start;
}

.pdp-tab {
	border: 0 !important;
	padding-left: 0px !important;
	flex-wrap: nowrap !important;
	width: 36% !important;
}

.week_high {
	text-align: center;
	color: #212529;
	font-size: 21px;
	font-weight: 500;
	padding: 13px;
}

@media (max-width: 576px) {
	.deals_list {
		font-size: 12px !important;
	}

	// .deal_best {
	// 	font-size: 15px !important;
	// }
}

.nav-tabs .nav-link.active {
	color: green !important;
	background-color: #fbfbfb;
	border-bottom: 3px solid #479f76 !important;
}

.popular_product {

	font-size: 21px !important;
	font-weight: 400;
	padding: 13px;
}

.recommended {
	text-align: center;
	color: #878787;
	font-size: 17px !important;
	font-weight: 400;
	padding: 13px;
}

.first_row {
	background-color: #fff !important;
	height: 100%;
}

.first_row:hover {
	border-color: #6c6c6c !important;
}

.wishlist-btn {
	visibility: hidden;
	opacity: 0;
}

.first_row:hover .wishlist-btn {
	visibility: visible;
	opacity: 1;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.add-btn {
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	// transition: visibility 0.2s, opacity 0.3s ease 0.1s;  

}


.first_row:hover .add-btn {
	visibility: visible;
	opacity: 1;
	cursor: pointer;
}

.wishlist-btn.Compare {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.Compare {
	margin-top: 60px !important;
	margin-right: 21px !important;
}

.Compares {
	margin-right: 21px !important;
}

.add_to {
	background-color: #f5f5f5;
}

@media (max-width: 330px) {
	.pdp-tab {
		font-size: 11px !important;
	}

}

@media (max-width: 330px) {
	.customer_detailss {
		margin-left: 5px !important;
	}

}


.products_imges {
	width: 100% !important;
}


.swiper-button-next {
	right: 121px !important;
	margin-top: -250px !important;
	color: #000000 !important;
	left: auto !important;
}

.swiper-button-prev {
	left: 950px !important;
	right: auto;
	margin-top: -250px !important;
	color: #000000 !important;
}

.details {
	display: inline-block;
	//  margin-left: 10px;  
}


.next {
	right: 21px !important;
	margin-top: -11px !important;
	color: #000000 !important;
	left: auto !important;
}

.pre {
	left: 18px !important;
	right: auto;
	margin-top: -11px !important;
	color: #000000 !important;
}

.first-swiper-next {
	right: 21px !important;
	margin-top: -11px !important;
	color: #000000 !important;
	left: auto !important;
}

.sections-container {
	// height: 100vh;  
	display: flex;
	flex-direction: column;
}

.first-section {
	height: 60%;
}

.second-section {
	height: 40%;
}

.first-swiper-prev {
	left: 18px !important;
	right: auto;
	margin-top: -11px !important;
	color: #000000 !important;
}

.third_images {
	background-color: rgb(228 228 228);
}

.second-swiper-bestseller-next {
	right: 21px !important;
	margin-top: -11px !important;
	color: #000000 !important;
	left: auto !important;
}

.second-swiper-bestseller-prev {
	left: 18px !important;
	right: auto;
	margin-top: -11px !important;
	color: #000000 !important;
}

.product_namess {
	font-size: 20px !important;
}

.Popup_content {
	height: 26rem;
	width: 24rem;
	border: 1px solid #ddd;
}

.swiper_btn {
	position: relative !important;
	height: 3rem !important;
	width: 6rem !important;
	float: right;
}

.img_popup {
	max-height: 100%;
	width: auto;
}

.slide_pipe {
	font-size: 1.25rem;
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
	margin-top: 0 !important;
	right: 40px !important;


}


.btn {
	padding: 4px 18px;
	border-radius: 50px !important;
}

.banner-section {
	.banner-sec-1 {
		position: relative;
		width: 36%;
		// height: 550px;
		transition: width 0.5s;

		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.text-blue {
			position: absolute;
			top: 183px;
			left: -189px;
			color: #84EFF8;
			font-size: 130px;
			font-weight: 600;
			transform: rotate(90deg);
		}

		.banner-sec-1-content {
			position: absolute;
			top: 38%;
			right: 19%;
		}
	}


	.banner-sec-2 {
		position: relative;
		width: 25%;
		// height: 550px;
		z-index: 10;
		transition: width 0.5s;
		display: flex;

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: rgb(164 200 40 / 45%);
		// 	bottom: 0;
		// 	right: 0;
		// 	z-index: 100;
		// }

		.text-green {
			position: absolute;
			top: 240px;
			right: -240px;
			color: #eaf8e2;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 62px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			letter-spacing: 2.48px;
			transform: rotate(-90deg);
			z-index: 200;
		}

		img {
			position: relative;
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.banner-sec-3 {
		width: 44%;
		height: 275px;

		// img {
		// 	// width: 100%;
		// 	// max-height: 100%;
		// 	// height: auto;
		// 	// max-width: 100%;
		// 	// height: 275px;

		// }

		.sub-banner-img-1 {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			.sub-banner-img-1-content {
				position: absolute;
				top: 11.5rem;
				left: 18%;
			}
		}

		.sub-banner-img-2 {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			.sub-banner-img-2-content {
				position: absolute;
				top: 30%;
				left: 42%;

				button {
					background-color: #6edff6;
				}
			}
		}
	}
}

// .iphone_images {
// 	transform: scaleX(-1.07);
// }

.text_iphones {
	font-weight: bold;
	font-size: 27px;
}

.text_description_power {
	font-size: 17px;
}

.floating-btns {
	position: fixed;
	bottom: 36%;
	right: -16.8rem;
	transform: rotateZ(90deg);
	z-index: 99;
	// transition: opacity 0.3s ease, visibility 0.3s ease;
	color: #fff;
	padding: 3px 10px !important;
	border-radius: 4px;
	font-size: 12px;
	letter-spacing: 0.05em;
	font-weight: 500;
}

.text-white {
	color: white !important;
}

.floating-icos {
	position: fixed;
	bottom: 36%;
	right: -2rem;
	border-radius: 5px;
	border: none !important;
	background-color: #fbfbfb00 !important;
	z-index: 77;
	transition: margin-right 0.8s ease;
}

a {
	color: black !important;
	text-decoration: none !important;
	transition: 0.3s;
}

.floating-icoss {

	font-size: 17px !important;
	border-radius: 5px;
	border: 0px solid #9f9f9f;

}

.face_books {
	font-size: 13px;
	font-weight: 500;
	padding: 2px 4px !important;
	color: #555 !important;
}


.floating-btns.disabled {
	opacity: 0.5;
	pointer-events: none;

	visibility: hidden;
}

.sub-banner-img-2 {
	background-color: #fbfaff;
}

.add_to_cart {
	margin-top: -64px !important;
}

// Responsive code start here


.p-component-overlay {
	background-color: #fbfbfb54 !important;
}

.button_stock {
	background: #fbfbfb;
	padding: 2px 17px !important;
	color: #28a745;
	border: 1px solid #28a745 !important;
}

.btn-outline-success:hover {
	color: black !important;
	background-color: #28a745;
	border-color: #28a745;
}

.view_details {
	text-decoration: underline !important;
	font-size: medium;
	border: none;
	background-color: #fbfbfb;
}

.colors {
	border-radius: 50%;
	background-color: #6edff6;
}

.circules_color {
	padding: 20px 20px;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid #fbfbfb;

}

.selected {
	border: 2px solid #5a88e1;

}

.circules_space {
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 4px 13px;
	cursor: pointer;

}

.selected_space {
	border: 2px solid #5a88e1 !important;

}

.quantity_btn {
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 3px !important;

	* {
		color: #656565;
	}
}

.broder_button {
	border-radius: 3px !important;

}

.p-galleria-thumbnail-item {
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: .5;
	margin-bottom: 3px !important;
}

.carousel-business-use {
	display: none !important;
}

@media screen and (max-width: 330px) {
	.payment_details {
		font-size: 11px;
	}

	.title_help {
		font-size: 10px;
	}
}

@media (max-width: 320px) {
	// .first_colm {
	//     flex-direction: column;
	// }

	.col-sm-6 {
		width: 100%;
	}

	.sub-banner-img-1-content {
		position: absolute;
		top: 4rem !important;
		left: 18%;
	}

	.image {
		display: block;
	}

	.details {
		display: block;
		margin-left: 0;
	}
}



@media only screen and (min-width: 340px) and (max-width: 368px) {


	.small_img {
		width: 20rem !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
	.recommended {
		text-align: center;
		color: #878787;
		font-size: 15px !important;
		font-weight: 400;
		padding: 13px;
	}

	.tabs-smalls {
		font-size: 15px;
	}



	.sections-container {
		height: auto !important;
		display: flex;
		flex-direction: column;
	}

	.sub-banner-img-1-content {
		position: absolute;
		top: 4.5rem !important;
		left: 18%;
	}

	.popular_product {
		color: #707070;
		font-size: 15px !important;
		font-weight: 400;
		padding: 13px;
	}
}

@media only screen and (min-width:375px) and (max-width: 399px) {
	.small_img {
		width: 21rem;
	}

	.sub-banner-img-1-content {
		position: absolute;
		top: 5rem !important;
		left: 18%;
	}

	.swiper_btn {
		position: relative !important;
		height: 3rem !important;
		width: 4rem !important;
		float: right;
	}

	.slide_pipe {
		font-size: 1.25rem !important;
		position: absolute !important;
		top: 42% !important;
		left: 59% !important;
		transform: translate(-50%, -50%) !important;
		margin-top: 0 !important;
		right: 40px !important;
	}

	.next {
		right: 3px !important;
		margin-top: -11px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.pre {
		left: 18px !important;
		right: auto;
		margin-top: -11px !important;
		color: #000000 !important;
	}
}

@media only screen and (min-width:400px) and (max-width: 425px) {
	.small_img {
		width: 24rem;
	}

	.sub-banner-img-1-content {
		position: absolute;
		top: 5rem !important;
		left: 18%;
	}

}

@media screen and (width: 320px) {
	.next {
		right: -22px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.small_img {
		width: 17.3rem;
	}

	.tabs-smalls {
		font-size: 15px;
		margin-right: 5px !important;
		margin-left: 2px !important;
	}


	.pre {
		left: -29px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.slide_pipe {
		font-size: 1.25rem !important;
		position: absolute !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		margin-top: 0 !important;
		right: 40px !important;


	}

	.swiper_btn {
		position: relative !important;
		height: 3rem !important;
		width: 0rem !important;
		float: right;
		/* right: 40% !important; */
		left: 16rem !important;
		margin-top: -3rem !important;
	}

	.first-swiper-next {
		right: -22px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.first-swiper-prev {
		left: -39px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.second-swiper-bestseller-next {
		right: 21px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.second-swiper-bestseller-prev {
		left: 18px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.sub-banner-img-1-content {
		position: absolute;
		top: 4rem !important;
		left: 18%;
	}
}

@media screen and (width: 768px) {

	// .carousel-business-use{
	//     display: block !important;
	//   }
	// .business_use{
	//   display: none !important;
	// }
	.sections-container {
		height: auto !important;
	}
}

@media (max-width: 768px) {
	.add_cart {
		border: 1px solid #9f9f9f;
		border-radius: 36px !important;
		text-align: center;
		padding: 9px 15px !important;
	}

	.price_main {
		font-size: 17px !important;
	}

	.pricee {
		font-size: 16px !important;
		margin: 0px;
		text-align: center;
	}

	.details {
		display: inline-block;
		margin-left: 0px !important;
	}
}


@media only screen and (min-width: 1025px) {
	// .banner_sec_img {
	// 	width: auto !important;
	// }
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {

	// .banner-sec-1:hover {
	// 	width: 38% !important;

	// }
	.sections-container {
		height: auto !important;
	}

	.small_img_manage {
		width: 29rem !important;
	}

	.text-blue {
		position: absolute;
		top: 154px !important;
		left: -197px !important;
		color: #84EFF8;
		font-size: 119px !important;
		font-weight: 600;
		transform: rotate(90deg);
	}

	// .banner-sec-2:hover {
	// 	width: 35% !important;

	// }
	.banner-section .banner-sec-3 img {
		width: 100%;
		// height: 231px !important;
	}

	.sub-banner-img-1-content {
		position: absolute;
		top: 9.5rem !important;
		left: 18%;
	}

	// .sub-banner-img-second,
	// .sub-banner-img-1,
	// .sub-banner-img-2 {
	// 	transition: transform 0.5s ease-in-out;
	// }

	// .sub-banner-img-second:hover,
	// .sub-banner-img-1:hover,
	// .sub-banner-img-2:hover {
	// 	transform: scale(1.01);
	// }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.floating-btns {
		position: fixed;
		bottom: 43%;
		right: -212px;
		transform: rotateZ(90deg);
		z-index: 99;
		color: #fff;
		padding: 12px 2px !important;
		border-radius: 4px;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 500;
	}

	.Popup_content {
		height: 20rem !important;
		width: auto !important;
		border: 1px solid #ddd;
	}

	.floating-icos {
		position: fixed;
		bottom: 36%;
		right: -2rem;
		border-radius: 5px;
		border: 1px solid #9f9f9f;
		z-index: 255;
	}

	.face_books {
		font-size: 14px;
		font-weight: 500;
		padding: 2px 4px !important;

	}

	.text-green {
		position: absolute;
		top: 268px !important;
		right: -110px !important;
		color: #eaf8e2;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 32px !important;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: 2.48px;
		transform: rotate(-90deg);
		z-index: 200;
	}

	.banner-sec-1-content {
		position: absolute;
		top: 38%;
		right: 1% !important;
	}

	.text-blue {
		position: absolute;
		top: 183px;
		left: -197px !important;
		color: #84EFF8;
		font-size: 119px !important;
		font-weight: 600;
		transform: rotate(90deg);
	}

	.pdp-tab {
		border: 0 !important;
		padding-left: 0px !important;
		flex-wrap: nowrap !important;
		width: auto !important;
	}

	.small_img_manage {
		width: 21.3rem;
	}

	.banner-section {
		.banner-sec-1 {
			position: relative;
			width: 53% !important;

			img {
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.text-blue {
				position: absolute;
				top: 166px;
				left: -197px;
				color: #84EFF8;
				font-size: 122px;
				font-weight: 600;
				transform: rotate(90deg);
			}

			.banner-sec-1-content {
				position: absolute;
				top: 38%;
				right: 19%;
			}
		}

		.text-green {
			position: absolute;
			top: 227px !important;
			right: -177px !important;
			color: #eaf8e2;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 50px !important;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			letter-spacing: 2.48px;
			transform: rotate(-90deg);
			z-index: 200;
		}

		.banner-sec-2 {
			position: relative;
			width: 47% !important;
			// height: 32rem !important;
			z-index: 10;

			// &::before {
			// 	content: "";
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	background: rgb(164 200 40 / 45%);
			// 	bottom: 0;
			// 	right: 0;
			// 	z-index: 100;
			// }


			img {
				position: relative;
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.banner-sec-3 {
			background-color: #fbfaff;
			// height: 32rem !important;
			width: 100%;

			img {
				width: 100%;
				height: 100%;

			}


			.sub-banner-img-1 {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				// height: 12rem !important;
				background-color: #f0f0f0;
				width: 50%;

				.sub-banner-img-1-content {
					position: absolute;
					top: 60% !important;
					left: 18%;
				}

				img {
					width: 100%;
					height: auto;

				}
			}

			.sub-banner-img-2 {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;

				.sub-banner-img-2-content {
					position: absolute;
					top: 30%;
					left: 35%;

					button {
						background-color: #6edff6;
					}
				}
			}
		}
	}

	.tablet_size {
		flex-wrap: wrap !important;
	}

	.baner_last {
		display: flex;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.floating-btns {
		position: fixed;
		bottom: 38%;
		right: -253px;
		transform: rotateZ(90deg);
		z-index: 99;
		color: #fff;
		padding: 4px 2px !important;
		border-radius: 4px;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 500;
	}

	.text-blue {
		position: absolute;
		top: 163px !important;
		left: -189px !important;
		color: #84EFF8;
		font-size: 119px !important;
		font-weight: 600;
		transform: rotate(90deg);
	}

	.text-green {
		position: absolute;
		top: 200px !important;
		right: -182px !important;
		color: #eaf8e2;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 46px !important;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: 2.48px;
		transform: rotate(-90deg);
		z-index: 200;
	}

	.banner-section .banner-sec-3 img {
		width: 100%;
		// height: 228px !important;
	}

	// .banner-sec-1:hover {
	// 	width: 39% !important;

	// }
	.sub-banner-img-1-content {
		position: absolute;
		top: 9.5rem !important;
		left: 18%;
	}

	// .banner-sec-2:hover {
	// 	width: 30% !important;

	// }

	// .sub-banner-img-second,
	// .sub-banner-img-1,
	// .sub-banner-img-2 {
	// 	transition: transform 0.5s ease-in-out;
	// }

	// .sub-banner-img-second:hover,
	// .sub-banner-img-1:hover,
	// .sub-banner-img-2:hover {
	// 	transform: scale(1.05);
	// }

}

@media only screen and (min-width: 1441px) and (max-width: 1700px) {
	.floating-btns {
		position: fixed;
		bottom: 38%;
		right: -225px;
		transform: rotateZ(90deg);
		z-index: 99;
		color: #fff;
		border-radius: 4px;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 500;
	}

	// .banner-sec-1:hover {
	// 	width: 37% !important;

	// }

	// .banner-sec-2:hover {
	// 	width: 35% !important;

	// }
	.text-green {
		position: absolute;
		top: 178px !important;
		right: -163px !important;
		color: #eaf8e2;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 44px !important;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: 2.48px;
		transform: rotate(-90deg);
		z-index: 200;
	}

	.iphone_images {
		// transform: scaleX(-1.3) !important;
	}

	.text-blue {
		position: absolute;
		top: 150px !important;
		left: -150px !important;
		color: #84EFF8;
		font-size: 106px !important;
		font-weight: 600;
		transform: rotate(90deg);
	}

	.sub-banner-img-1-content {
		position: absolute;
		top: 9.5rem !important;
		left: 18%;
	}

	.banner-section .banner-sec-3 .sub-banner-img-1 {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50%;
	}

	.banner_sec_img_last {
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	// .sub-banner-img-second,
	// .sub-banner-img-1,
	// .sub-banner-img-2 {
	// 	transition: transform 0.5s ease-in-out;
	// }

	// .sub-banner-img-second:hover,
	// .sub-banner-img-1:hover,
	// .sub-banner-img-2:hover {
	// 	transform: scale(1.05);
	// }

	.Popup_content {
		height: 24rem !important;
		width: 22rem !important;
		border: 1px solid #ddd;
	}

	.face_books {
		padding: 2px 4px !important;
		font-size: 15px;
		font-weight: 500;

	}

}

@media screen and (min-width: 320px) and (max-width: 350px) {

	.Popup_content {
		height: auto !important;
		width: auto !important;
		border: 1px solid #ddd;
	}

	.next {
		right: -22px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.small_img {
		width: 17.3rem;
	}

	.tabs-smalls {
		font-size: 15px;
		margin-right: 5px !important;
		margin-left: 2px !important;
	}


	.pre {
		left: -29px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.slide_pipe {
		font-size: 1.25rem !important;
		position: absolute !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		margin-top: 0 !important;
		right: 40px !important;


	}

	.swiper_btn {
		position: relative !important;
		height: 3rem !important;
		width: 0rem !important;
		float: right;
		/* right: 40% !important; */
		left: 16rem !important;
		margin-top: -3rem !important;
	}

	.first-swiper-next {
		right: -22px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.first-swiper-prev {
		left: -39px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.second-swiper-bestseller-next {
		right: 21px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.second-swiper-bestseller-prev {
		left: 18px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.weekly_best {
		color: #212529;
		font-size: 21px;
		font-weight: 500;
		padding: 8px;
	}

	.product_namess {
		font-size: 20px !important;
		padding: 0 !important;
	}

	.slide_pipe {
		font-size: 1.25rem !important;
		position: absolute !important;
		top: 51% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		margin-top: 0 !important;
		right: -9px !important;


	}


	.floating-icos {
		visibility: hidden;
	}

	.sections-container {
		height: auto !important;
	}

	.pdp-tab {
		border: 0 !important;
		padding-left: 0px !important;
		flex-wrap: nowrap !important;
		width: auto !important;
	}

	.sub-banner-img-2-content {
		position: absolute;
		top: 30%;
		left: 34% !important;
	}

	.p-galleria-thumbnail-items-container {
		height: 300px !important;
	}

	.button_stock {
		background: #fbfbfb;
		padding: 3px 3px !important;
		color: #28a745;
		border: 1px solid #28a745 !important;
		font-size: 12px !important;
	}

	.baner_mobile {
		display: inline !important;
	}

	.banner-sec-1 {
		position: relative;
		width: 100% !important;
		// height: 32rem;
	}

	.banner-sec-2 {
		position: relative;
		width: 100% !important;
		height: 400px !important;
		z-index: 10;
	}

	.banner-sec-3 {
		width: 100% !important;
		display: contents;
		height: 275px;
	}

	.banner-sec-3 img {
		width: 100%;
		height: auto !important;
	}

	.banner-sec-1 img {
		max-width: 100% !important;
	}

	.iphone_images {
		// transform: scaleX(-1) !important;
	}

	.text-blue {
		left: -215px !important;
	}

	.text-green {

		top: 170px !important;
		right: -155px !important;
		font-size: 40px !important;

	}

	.btn_response {
		padding: 4px 12px !important;
		border-radius: 50px !important;
	}

	.floating-btns {
		position: fixed;
		bottom: 39%;
		visibility: hidden;
		right: -209px !important;
		transform: rotateZ(90deg);
		z-index: 99;
		color: #fff;
		padding: 0px !important;
		border-radius: 4px;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 500;
	}

	.face_books {
		font-size: 16px !important;
		font-weight: 500;
		padding: 2px 4px !important;

	}

	.add-btn {
		visibility: visible !important;
		opacity: 1;
		cursor: pointer;
	}

	.add_to_cart {
		margin-top: -39px !important;
	}

	.Compares {
		margin-right: 15px !important;
	}

	.wishlist-btn {
		visibility: visible !important;
		opacity: 1;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}

	.Compare {
		margin-right: 13px !important;
	}
}

@media screen and (min-width: 350px) and (max-width: 360px) {
	.swiper_btn {
		position: relative !important;
		height: 3rem !important;
		width: 0rem !important;
		float: right;
		left: 10rem !important;
		margin-top: -1rem !important;
	}

	.next {
		right: -22px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.small_img {
		width: 17.3rem;
	}

	.tabs-smalls {
		font-size: 15px;
		margin-right: 5px !important;
		margin-left: 2px !important;
	}


	.pre {
		left: -29px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.slide_pipe {
		font-size: 1.25rem !important;
		position: absolute !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		margin-top: 0 !important;
		right: 40px !important;


	}

	.swiper_btn {
		position: relative !important;
		height: 3rem !important;
		width: 0rem !important;
		float: right;
		/* right: 40% !important; */
		left: 10rem !important;
		margin-top: -1rem !important;
	}

	.first-swiper-next {
		right: -22px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.first-swiper-prev {
		left: -39px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.second-swiper-bestseller-next {
		right: 21px !important;
		margin-top: -6px !important;
		color: #000000 !important;
		left: auto !important;
	}

	.second-swiper-bestseller-prev {
		left: 18px !important;
		right: auto;
		margin-top: -6px !important;
		color: #000000 !important;
	}

	.weekly_best {
		color: #212529;
		font-size: 21px;
		font-weight: 500;
		padding: 8px;
	}

	.product_namess {
		font-size: 20px !important;
		padding: 0 !important;
	}

	.slide_pipe {
		font-size: 1.25rem !important;
		position: absolute !important;
		top: 51% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		margin-top: 0 !important;
		right: -9px !important;


	}

}

@media screen and (min-width: 361px) and (max-width: 390px) {
	.Popup_content {
		height: auto !important;
		width: auto !important;
		border: 1px solid #ddd;
	}

	.weekly_best {
		color: #212529;
		font-size: 21px;
		font-weight: 500;
		padding: 8px;
	}

	.product_namess {
		font-size: 20px !important;
		padding: 0 !important;
	}

	.slide_pipe {
		font-size: 1.25rem !important;
		position: absolute !important;
		top: 39% !important;
		left: 59% !important;
		transform: translate(-50%, -50%) !important;
		margin-top: 0 !important;
		right: 50px !important;


	}

	.floating-icos {
		visibility: hidden;
	}

	.sections-container {
		height: auto !important;
	}

	.pdp-tab {
		border: 0 !important;
		padding-left: 0px !important;
		flex-wrap: nowrap !important;
		width: auto !important;
	}

	.sub-banner-img-2-content {
		position: absolute;
		top: 30%;
		left: 34% !important;
	}

	.p-galleria-thumbnail-items-container {
		height: 300px !important;
	}

	.button_stock {
		background: #fbfbfb;
		padding: 3px 3px !important;
		color: #28a745;
		border: 1px solid #28a745 !important;
		font-size: 12px !important;
	}

	.baner_mobile {
		display: inline !important;
	}

	.banner-sec-1 {
		position: relative;
		width: 100% !important;
		// height: 32rem;
	}

	.banner-sec-2 {
		position: relative;
		width: 100% !important;
		height: 400px !important;
		z-index: 10;
	}

	.banner-sec-3 {
		width: 100% !important;
		display: contents;
		height: 275px;
	}

	.banner-sec-3 img {
		width: 100%;
		height: auto !important;
	}

	.banner-sec-1 img {
		max-width: 100% !important;
	}

	.iphone_images {
		// transform: scaleX(-1) !important;
	}

	.text-blue {
		left: -215px !important;
	}

	.text-green {

		top: 170px !important;
		right: -155px !important;
		font-size: 40px !important;

	}

	.btn_response {
		padding: 4px 12px !important;
		border-radius: 50px !important;
	}

	.floating-btns {
		position: fixed;
		bottom: 39%;
		visibility: hidden;
		right: -209px !important;
		transform: rotateZ(90deg);
		z-index: 99;
		color: #fff;
		padding: 0px !important;
		border-radius: 4px;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 500;
	}

	.face_books {
		font-size: 16px !important;
		font-weight: 500;
		padding: 2px 4px !important;

	}

	.add-btn {
		visibility: visible !important;
		opacity: 1;
		cursor: pointer;
	}

	.add_to_cart {
		margin-top: -39px !important;
	}

	.Compares {
		margin-right: 15px !important;
	}

	.wishlist-btn {
		visibility: visible !important;
		opacity: 1;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}

	.Compare {
		margin-right: 13px !important;
	}
}

@media screen and (min-width: 390px) and (max-width: 425px) {
	.Popup_content {
		height: auto !important;
		width: auto !important;
		border: 1px solid #ddd;
	}

	.tabs-smalls {
		font-size: 15px;
	}

	.weekly_best {
		color: #212529;
		font-size: 21px;
		font-weight: 500;
		padding: 8px;
	}

	.product_namess {
		font-size: 20px !important;
		padding: 0 !important;
	}

	.slide_pipe {
		font-size: 1.25rem !important;
		position: absolute !important;
		top: 42% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		margin-top: 0 !important;
		right: 40px !important;


	}

	.floating-icos {
		visibility: hidden;
	}

	.sections-container {
		height: auto !important;
	}

	.pdp-tab {
		border: 0 !important;
		padding-left: 0px !important;
		flex-wrap: nowrap !important;
		width: auto !important;
	}

	.sub-banner-img-2-content {
		position: absolute;
		top: 30%;
		left: 34% !important;
	}

	.p-galleria-thumbnail-items-container {
		height: 300px !important;
	}

	.button_stock {
		background: #fbfbfb;
		padding: 3px 3px !important;
		color: #28a745;
		border: 1px solid #28a745 !important;
		font-size: 12px !important;
	}

	.baner_mobile {
		display: inline !important;
	}

	.banner-sec-1 {
		position: relative;
		width: 100% !important;
		// height: 32rem;
	}

	.banner-sec-2 {
		position: relative;
		width: 100% !important;
		height: 400px !important;
		z-index: 10;
	}

	.banner-sec-3 {
		width: 100% !important;
		display: contents;
		height: 275px;
	}

	.banner-sec-3 img {
		width: 100%;
		height: auto !important;
	}

	.banner-sec-1 img {
		max-width: 100% !important;
	}

	.iphone_images {
		// transform: scaleX(-1) !important;
	}

	.text-blue {
		left: -215px !important;
	}

	.text-green {

		top: 170px !important;
		right: -155px !important;
		font-size: 40px !important;

	}

	.btn_response {
		padding: 4px 12px !important;
		border-radius: 50px !important;
	}

	.floating-btns {
		position: fixed;
		bottom: 39%;
		visibility: hidden;
		right: -209px !important;
		transform: rotateZ(90deg);
		z-index: 99;
		color: #fff;
		padding: 0px !important;
		border-radius: 4px;
		font-size: 12px;
		letter-spacing: 0.05em;
		font-weight: 500;
	}

	.face_books {
		font-size: 16px !important;
		font-weight: 500;
		padding: 2px 4px !important;

	}

	.add-btn {
		visibility: visible !important;
		opacity: 1;
		cursor: pointer;
	}

	.add_to_cart {
		margin-top: -39px !important;
	}

	.Compares {
		margin-right: 15px !important;
	}

	.wishlist-btn {
		visibility: visible !important;
		opacity: 1;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}

	.Compare {
		margin-right: 13px !important;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1493px) {
	.Popup_content {
		height: 20rem !important;
		width: auto !important;
		border: 1px solid #ddd;
	}

	.add_cart {
		padding: 9px 14px !important;
	}

	// .banner-sec-1:hover {
	// 	width: 38% !important;

	// }

	// .banner-sec-2:hover {
	// 	width: 30% !important;

	// }

	// .sub-banner-img-second,
	// .sub-banner-img-1,
	// .sub-banner-img-2 {
	// 	transition: transform 0.5s ease-in-out;
	// }

	// .sub-banner-img-second:hover,
	// .sub-banner-img-1:hover,
	// .sub-banner-img-2:hover {
	// 	transform: scale(1.05);
	// }

	.pricee {
		font-size: 17px !important;
	}

	.price_main {
		font-size: 16px !important;
	}
}

@media screen and (min-width: 650px) and (max-width: 768px) {

	.pdp-tab {
		border: 0 !important;
		padding-left: 0px !important;
		flex-wrap: nowrap !important;
		width: auto !important;
	}

	.small_img_manage {
		width: 21.3rem;
	}

	.banner-section {
		.banner-sec-1 {
			position: relative;
			width: 53% !important;

			img {
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.text-blue {
				position: absolute;
				top: 166px;
				left: -197px;
				color: #84EFF8;
				font-size: 122px;
				font-weight: 600;
				transform: rotate(90deg);
			}

			.banner-sec-1-content {
				position: absolute;
				top: 38%;
				right: 19%;
			}
		}

		.text-green {
			position: absolute;
			top: 227px !important;
			right: -177px !important;
			color: #eaf8e2;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 50px !important;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			letter-spacing: 2.48px;
			transform: rotate(-90deg);
			z-index: 200;
		}

		.banner-sec-2 {
			position: relative;
			width: 47% !important;
			// height: 32rem !important;
			z-index: 10;

			// &::before {
			// 	content: "";
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	background: rgb(164 200 40 / 45%);
			// 	bottom: 0;
			// 	right: 0;
			// 	z-index: 100;
			// }


			img {
				position: relative;
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.banner-sec-3 {
			background-color: #fbfaff;
			// height: 32rem !important;
			width: 100%;

			img {
				width: 100%;
				height: 100%;

			}


			.sub-banner-img-1 {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				// height: 12rem !important;
				background-color: #f0f0f0;
				width: 50%;

				.sub-banner-img-1-content {
					position: absolute;
					top: 60% !important;
					left: 18%;
				}

				img {
					width: 100%;
					height: auto;

				}
			}

			.sub-banner-img-2 {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;

				.sub-banner-img-2-content {
					position: absolute;
					top: 30%;
					left: 35%;

					button {
						background-color: #6edff6;
					}
				}
			}
		}
	}

	.tablet_size {
		flex-wrap: wrap !important;
	}

	.baner_last {
		display: flex;
	}
}

@media screen and (min-width: 1500px) {
	.icons_flex {
		margin-left: 2rem !important;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
	.banner-section {
		.banner-sec-1 {
			position: relative;
			width: 32%;
			// height: 32rem;

			img {
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.text-blue {
				position: absolute;
				top: 158px;
				left: -195px;
				color: #84EFF8;
				font-size: 119px;
				font-weight: 600;
				transform: rotate(90deg);
			}

			.banner-sec-1-content {
				position: absolute;
				top: 38%;
				right: 10%;
			}
		}


		.banner-sec-2 {
			position: relative;
			width: 25%;
			// height: 32rem;
			z-index: 10;

			// &::before {
			// 	content: "";
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	background: rgb(164 200 40 / 45%);
			// 	bottom: 0;
			// 	right: 0;
			// 	z-index: 100;
			// }

			.text-green {
				position: absolute;
				top: 202px;
				right: -195px;
				color: #eaf8e2;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				font-size: 50px !important;
				font-style: normal;
				font-weight: 800;
				line-height: normal;
				letter-spacing: 2.48px;
				transform: rotate(-90deg);
				z-index: 200;
			}

			img {
				position: relative;
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.banner-sec-3 {
			width: 45%;
			// height: 32rem;

			img {
				width: 100%;
				height: 100%;

			}

			.sub-banner-img-1 {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50% !important;
				background-color: #f0f0f0;

				.sub-banner-img-1-content {
					position: absolute;
					top: 60%;
					left: 18%;
				}

				img {
					width: 100%;
					height: auto;

				}
			}

			.sub-banner-img-2 {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50% !important;

				.sub-banner-img-2-content {
					position: absolute;
					top: 30%;
					left: 42%;

					button {
						background-color: #6edff6;
					}
				}
			}
		}

		// .banner-sec-1:hover {
		// 	width: 40% !important;

		// }

		// .banner-sec-2:hover {
		// 	width: 30% !important;

		// }

		// .sub-banner-img-second,
		// .sub-banner-img-1,
		// .sub-banner-img-2 {
		// 	transition: transform 0.5s ease-in-out;
		// }

		// .sub-banner-img-second:hover,
		// .sub-banner-img-1:hover,
		// .sub-banner-img-2:hover {
		// 	transform: scale(1.05);
		// }
	}

	.iphone_images {
		// transform: scaleX(-1.0) !important;
	}

	.heading-link-sm {
		font-size: 17px !important;
		color: black !important;
		font-weight: 400;
		display: block;
	}

	.Popup_content {
		height: 20rem !important;
		width: auto !important;
		border: 1px solid #ddd;
	}

	.floating-btns {
		position: fixed;
		bottom: 34%;
		right: -180px !important;
		transform: rotateZ(90deg);
		z-index: 99;
		color: #fff;
		padding: 4px 2px !important;
		border-radius: 4px;
		font-size: 11px;
		letter-spacing: 0.05em;
		font-weight: 500;
	}

	.face_books {
		font-size: 12px !important;
		font-weight: 500;
		padding: 2px 4px !important;
	}

	.title_help {
		color: black;
		font-size: 13px !important;
	}

	.payment_details {
		color: #5c5c5c;
		font-size: 12px !important;
	}

	.free_delivery {
		margin-left: 2rem !important;
	}

	.autho_rized {
		margin-left: 40px !important;
	}
}

@media screen and (min-width: 1601px) and (max-width: 2000px) {
	.add_cart {
		border: 1px solid #9f9f9f;
		border-radius: 36px !important;
		text-align: center;
		font-size: 14px !important;
		padding: 3px 8px !important;
		margin-top: 8px;
	}

	// .banner-sec-1:hover {
	// 	width: 40% !important;

	// }

	// .banner-sec-2:hover {
	// 	width: 35% !important;

	// }

	// .sub-banner-img-second,
	// .sub-banner-img-1,
	// .sub-banner-img-2 {
	// 	transition: transform 0.5s ease-in-out;
	// }

	// .sub-banner-img-second:hover,
	// .sub-banner-img-1:hover,
	// .sub-banner-img-2:hover {
	// 	transform: scale(1.05);
	// }

	.heading-link-sm {
		font-size: 20px !important;
		color: black !important;
		font-weight: 400;
		display: block;
	}

	.this-week {
		display: flex;
		justify-content: flex-end !important;
	}

	// .business_img{
	// 	height: 17rem;
	// }
}