<!-- Banners Start -->
<section class="banners-sec" *ngIf="bannerHolder && bannerHolder.length > 0 && !isBannersLoading">
  <div class="carousel slide carousel-fade" data-ride="carousel" id="banners"> <!-- data-interval="false" -->
    <ol class="carousel-indicators d-none d-sm-flex">
      <ng-container *ngFor="let banner of bannerHolder; let i = index">
        <li [attr.data-slide-to]="i" [class.active]="i === 0" data-target="#banners"></li>
      </ng-container>
    </ol>

    <!-- <div class="carousel-inner text-center">
      <ng-container *ngFor="let banner of bannerHolder; let i = index">
        <div [class.active]="i === 0" class="carousel-item" (click)="onClickBanner(banner)">
          
          <div *ngIf="!banner.link" class="d-flex align-items-center justify-content-center pointer">

            <img *ngIf="banner.image" [src]="banner.image" [alt]="banner.alt" class="img-fluid w-100 d-none d-sm-block">
            <img *ngIf="banner.mobile_image" [src]="banner.mobile_image" [alt]="banner.alt" class="img-fluid w-100 d-sm-none">

            <span *ngIf="!banner.image && !banner.mobile_image">Banner Image Not Available</span>
          </div>

          <a *ngIf="banner.link" [href]="banner.link" [target]="(+banner.new_window === 1) ? '_blank' : '_self'" class="d-flex align-items-center justify-content-center">

            <img *ngIf="banner.image" [src]="banner.image" [alt]="banner.alt" class="img-fluid w-100 d-none d-sm-block">
            <img *ngIf="banner.mobile_image" [src]="banner.mobile_image" [alt]="banner.alt" class="img-fluid w-100 d-sm-none">

            <span *ngIf="!banner.image && !banner.mobile_image">Banner Image Not Available</span>
          </a>

        </div>
      </ng-container>
    </div> -->

    <div class="carousel-inner text-center">
      <ng-container *ngFor="let banner of bannerHolder; let i = index">
        <div [class.active]="i === 0" class="carousel-item" (click)="onClickBanner(banner)">

          <div *ngIf="!banner.link" class="d-flex align-items-center justify-content-center pointer">

            <img *ngIf="banner.image" [imgLazyLoad]="banner.image" [alt]="banner.alt" class="img-fluid w-100 d-none d-sm-block">
            <img *ngIf="banner.mobile_image" [imgLazyLoad]="banner.mobile_image" [alt]="banner.alt" class="img-fluid w-100 d-sm-none">

            <span *ngIf="!banner.image && !banner.mobile_image">Banner Image Not Available</span>
          </div>

          <a *ngIf="banner.link" [href]="banner.link" [target]="(+banner.new_window === 1) ? '_blank' : '_self'" class="d-flex align-items-center justify-content-center">

            <img *ngIf="banner.image" [imgLazyLoad]="banner.image" [alt]="banner.alt" class="img-fluid w-100 d-none d-sm-block">
            <img *ngIf="banner.mobile_image" [imgLazyLoad]="banner.mobile_image" [alt]="banner.alt" class="img-fluid w-100 d-sm-none">

            <span *ngIf="!banner.image && !banner.mobile_image">Banner Image Not Available</span>
          </a>

        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="bannerHolder && bannerHolder.length > 1">
      <a class="carousel-control-prev" data-slide="prev" href="#banners" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" data-slide="next" href="#banners" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </ng-container>

  </div>
</section>

<!-- Banners Skeleton -->
<div class="banner-skeleton" *ngIf="isBannersLoading">
    <p-skeleton width="100%" height="50vh" class="d-block"></p-skeleton>
</div>

<!-- Banners End -->

<div class="sections-container">
  <!-- <section class="first-section">
  <div class="d-flex banner-section baner_mobile h-100 tablet_size">

    <a href="https://shop.unicornstore.in/category/iphone1" target="_blank" class="banner-sec-1 d-block">
      <img src="assets/new/first[115].png" alt="" class="img-fluid iphone_images">
      <h2 class="text-blue">IPHONE</h2> 
      <div class="banner-sec-1-content">
         <div class="d-flex align-self-center">
          <img src="assets/img/apple-logo.svg" alt=" " width="30px">
          <h3 class="pl-2 text-white text_iphones">IPHONE</h3>
        </div> 
        <p class="text-white text_description_power">A Total Powerhouse</p>
        <button class="btn border text-white mt-2 btn_response text-white">SHOP NOW</button> 
      </div>
    </a>

    <a class="banner-sec-2" href="https://shop.unicornstore.in/category/mac1" target="_blank">
      <img src="assets/new/second[110].png" alt="">
      <h2 class="text-green">FLAGSHIP STORE</h2>  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    </a>

    <div class="banner-sec-3 h-100 baner_last bg-white">
      <a href="https://shop.unicornstore.in/category/watch1" target="_blank" class="sub-banner-img-1  ">
        <img src="assets/new/third[111].png" alt=" " class=" img-fluid">
         <div class="sub-banner-img-1-content">
          <button class="btn border border-dark text-dark mt-2 btn_response">SHOP NOW</button>
        </div> 
      </a>
      <a href="https://shop.unicornstore.in/category/headphones-and-speakers1" target="_blank" class="sub-banner-img-2  ">
        <img src="assets/new/fourth W[112].png" alt=" " class="banner_sec_img banner_sec_img_last">
         <div class="sub-banner-img-2-content">
          <button class="btn text-white mt-2 btn_response">SHOP NOW</button>
        </div> 
      </a>
    </div>
  </div>
</section>   -->

  <!-- Business use cases Section -->
  <section class="second-section bg-white ">
    <!--      Show carousel only on screens of exactly 768px -->

    <!--    Show Without carousel other screens  -->
    <div class="container-fluid my-4  business_use">
      <div class="row  ">
        <div class="col-6 col-sm-6 mb-4 mb-sm-0 mb-md-3 col-md-6 col-xl-3">
          <a routerLink="/accessories/airpods-4" class="card business_img small_img">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/11.jpeg" alt="Card image cap">
          </a>
        </div>
        <div class="col-auto col-sm-6 mb-4 mb-sm-0 col-md-6 col-xl-3 mb-md-3">
          <a routerLink="/category/apple-watch-series-10" class="card business_img">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/41.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="col-auto col-sm-6 mb-4 mb-sm-0 mb-md-3 col-md-6 col-xl-3 ">
          <div class="card business_img third_images">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/3.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="col-auto col-sm-6 mb-4 mb-sm-0 col-md-3 mb-md-6 col-xl-3">
          <a routerLink="/support" class="card business_img small_img_manage">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/2.jpg" alt="Card image cap">
          </a>
        </div>

     

        <!-- <div class="col-auto col-sm-6 mb-4 mb-sm-0 col-md-6 col-xl-3 mb-md-3">
          <a routerLink="/back-to-school" class="card business_img">
            <img class="card-img-top img_bussinness" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/business_use_cases/4.jpg" alt="Card image cap">
          </a>
        </div> -->

        <!-- <div class="col-6 col-sm-auto mb-4 mb-sm-0">
        <div class="media align-items-center text-center text-sm-left flex-column flex-sm-row">
          <i class="fa fa-credit-card fa-3x mb-2 mb-sm-0"></i>
          <div class="media-body ml-sm-3">
            <h4 class="heading-md mb-1">Flexible Payment Plans</h4>
            <p class="paragraph m-0">Pay with multiple cards</p>
          </div>
        </div>
      </div> -->

      </div>
    </div>
  </section>
</div>

<!-- Dynamically Generated Home Component Start -->
<!-- <ng-container *ngIf="homeComponentHolder && homeComponentHolder.length > 0">
  <ng-container *ngFor="let parentItem of homeComponentHolder; let i = index; let isEven = even">
    <section *ngIf="parentItem.component_type === 'slider'" [class.bg-light]="isEven"
      class="home-dynamically-gen-sec-{{i+1}} pt-4 pb-4">
      <div class="container-fluid position-relative">
        <h2 class="title-sm text-center text-uppercase mb-4">{{parentItem.component}}</h2>
        <div class="row">
          <div class="col-sm">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let item of parentItem.component_values">
                <ng-template carouselSlide>
                  <a [routerLink]="['/type', item.slug]" [queryParams]="{ type: true }"
                    *ngIf="isKeyExist(item, 'parent_product_id')" class="card shadow-sm w-100 h-100 border-0">
                    <div class="card-body">
                      <div class="slider-img-box">
                        <img [src]="imgUrl +'/component/' + item?.image" class="img-fluid" alt=" ">
                      </div>
                      <h4 class="heading-sm px-2 mb-4 text-center">
                        {{item.parent_product_name}}
                      </h4>
                    </div>
                  </a>
                  <a [routerLink]="['/category', item.slug]" *ngIf="isKeyExist(item, 'category_id')"
                    class="card shadow-sm w-100 h-100 border-0">
                    <div class="card-body">
                      <div class="slider-img-box">
                        <img [src]="imgUrl +'/component/' + item?.image" class="img-fluid" alt=" ">
                      </div>
                      <h4 class="heading-sm px-2 mb-4 text-center">
                        {{item.category_name}}
                      </h4>
                    </div>
                  </a>
                  <a [routerLink]="['/product', item.slug]" *ngIf="isKeyExist(item, 'product_id')"
                    class="card shadow-sm w-100 h-100 border-0">
                    <div class="card-body">
                      <div class="slider-img-box">
                        <img [src]="imgUrl +'/component/' + item?.image" class="img-fluid" alt=" ">
                      </div>
                      <h4 class="heading-sm px-2 mb-4 text-center">
                        {{item.product_name}}
                      </h4>
                    </div>
                  </a>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="parentItem.component_type === 'box'"
      class="home-dynamically-gen-sec-{{i+1}} pt-4 pb-4 mt-0 mt-sm-4">
      <div class="container-fluid position-relative">
        <h2 class="title-sm text-center text-uppercase mb-4">{{parentItem.component}}</h2>
        <div class="form-row justify-content-center">
          <div class="col-sm-6 mb-2" *ngFor="let item of parentItem.component_values">
            <a [routerLink]="['type', item.slug]" *ngIf="isKeyExist(item, 'parent_product_id')" class="box-img-box shadow-sm">
              <img [src]="imgUrl +'/component/' + item?.image" class="img-fluid" alt=" ">
            </a>
            <a [routerLink]="['category', item.slug]" *ngIf="isKeyExist(item, 'category_id')" class="box-img-box shadow-sm">
              <img [src]="imgUrl +'/component/' + item?.image" class="img-fluid" alt=" ">
            </a>
            <a [routerLink]="['product', item.slug]" *ngIf="isKeyExist(item, 'product_id')" class="box-img-box shadow-sm">
              <img [src]="imgUrl +'/component/' + item?.image" class="img-fluid" alt=" ">
            </a>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container> -->
<!-- Dynamically Generated Home Component End -->


<section class="featured-product-section mb-4">
  <div class="container-fluid">
    <div class="row" id="featured_product_container" #featuredProductContainer>
      <div class="col-md-6 col-sm-6 col-auto col-lg-6 col-xl-6">
        <h4 class="weekly_best mb-0">Featured Products</h4>
      </div>
    </div>
    <!-- Featured Product component lazy loaded -->
  </div>
</section>

<!-- Deals of the day -->
<section class="deals-off-the-day-section">
  <div class="container-fluid">
    <div class="row" id="deals-of-the-day-container" #dealsOfTheDayContainer>
      <div class="col-md-6 col-sm-6 col-auto col-lg-6 col-xl-6">
        <h4 class="deal_best weekly_best p-2">Product Categories</h4>
        <!-- <h4 class="deal_best p-2">Deals of the day | <span class="deals_list">Sales up to 11% off On selected products </span></h4> -->
      </div>
      <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
        <!-- <div class="swiper_btn">
          <div class="next swiper-button-next firsts-swiper-next"></div>
          <span class="slide_pipe">|</span>
          <div class="pre swiper-button-prev firsts-swiper-prev"></div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="recommended-product-section mb-4">
  <div class="container-fluid">
    <div class="row" id="recommendedAccessoriesContainer" #recommendedAccessoriesContainer>
      <div class="col-md-6 col-sm-6 col-11 col-lg-6 col-xl-6">
        <h4 class="weekly_best mb-0">Recommended Accessories</h4>
      </div>
      <div class="col-md-6 col-sm-6 col-1 col-lg-6 col-xl-6">
        <div class="swiper_btn">
          <div class="next swiper-button-next ra-swiper-next"></div>
          <span class="slide_pipe ">|</span>
          <div class="pre swiper-button-prev ra-swiper-prev"></div>
        </div>
      </div>
    </div>
    <!-- Recommended Accessories component lazy loaded -->
  </div>
</section>

<!-- Weekly Bestseller Started here -->
<div class="container-fluid">
  <div class="row align-items-end">

    <div class="col-sm-12 col-xl-12">
      <div class="row" id="weekly_bestsellers_container" #weeklyBestSellersContainer>
        <!-- <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
          <h4 class="weekly_best mb-0">Weekly Bestsellers</h4>
        </div>
        <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
          <div class="swiper_btn">
            <div class="swiper-button-next first-swiper-next"></div>
            <span class="slide_pipe first-swiper-next ">|</span>
            <div class="swiper-button-prev first-swiper-prev"></div>
          </div>
        </div> -->
      </div>
      <!-- Weekly Bestsellers Lazy Loaded here... -->
    </div>
  </div>
</div>

<!-- This Week's Highlights started here  -->

<!-- <section class="weeks-highlights">
  <div class="container-fluid">
    <h4 class="week_high mt-3">This Week's Highlights</h4>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <nav class="d-flex justify-content-center">
          <div class="nav nav-tabs container-fluid pdp-tab text-center m-0" role="tablist">
            <a class="nav-link active show" data-toggle="tab" href="#new_in">New In</a>
            <a class="nav-link" data-toggle="tab" href="#Mac" (click)="MacLoad()">Mac</a>
            <a class="nav-link" data-toggle="tab" href="#Accessories" (click)="Accessories()">Accessories</a>
            <a class="nav-link" data-toggle="tab" href="#Unicorn" (click)="UnicornFamily()">Unicorn Family</a>
          </div>
        </nav>
      </div>

      <div class="tab-content pt-3">
        <div class="tab-pane fade active show" id="new_in">
          <div class=" " #Highlight_new_in>
             </div>
        </div>
          <div class="tab-pane fade" id="Mac">
          <div class=" " #Highlight_Mac>
           </div>
        </div>

        <div class="tab-pane fade" id="Accessories">
            <div class=" " #HighlightAccessories>
             </div>
           </div>

        <div class="tab-pane fade" id="Unicorn">
          <div class=" " #HighlightUnicornFamily>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Popular Product started Here -->
<section class="popular-products">
  <div class="container-fluid">
    <div class="row align-items-end mb-2">
      <div class="col">
        <h4 class="product_namess m-0  pl-5">Popular products | <span class="text-muted deals_list"> Recommendations for your lifestyle</span></h4>
      </div>
      <div class="col-auto pr-5">
        <nav class="pt-3 text-end">
          <div class="nav nav-tabs container-fluid pdp-tab d-flex float-right m-0 mr-5" role="tablist">
            <a class="nav-link active show tabs-smalls" data-toggle="tab" href="#Iphone">iPhone</a>
            <a class="nav-link tabs-smalls" data-toggle="tab" href="#Macc" (click)="PopularMacLoad()">Mac</a>
            <a class="nav-link tabs-smalls" data-toggle="tab" href="#Ipad" (click)="PopulariPadLoad()">iPad</a>
            <!-- <a class="nav-link" data-toggle="tab" href="#Watch" (click)="PopularProductWatch()">Watch</a> -->
            <a class="nav-link tabs-smalls" data-toggle="tab" href="#airpod" (click)="PopularProductAirpod()">AirPods</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="tab-content container-fluid my-3">
    <div class="tab-pane fade active show">
      <div class="tab-content">
        <div class="tab-pane  fade active show  " id="Iphone">
          <!-- Lazy Loading Here For iPhone -->
          <div #PopularsProductsiPhone>
          </div>
        </div>
        <div class="tab-pane  fade" id="Macc">
          <!-- Lazy Loading Here For Mac -->
          <div #PopularsProductsMAC>
          </div>
        </div>
        <div class="tab-pane fade" id="Ipad">
          <!-- Lazy Loading Start here For iPad -->
          <div #PopularsProducts_iPad>
          </div>
        </div>

        <div class="tab-pane fade" id="Watch">
          <!-- Lazy LoadingStart here for Watch -->
          <div #PopularsProductsWatch>
          </div>
        </div>
        <div class="tab-pane fade" id="airpod">
          <!-- Lazy LoadingStart here for Watch -->
          <div #PopularsProductsAirpod>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Watch Promotion Container -->
<div class="my-2">
  <a routerLink="/products/apple-watch-series-81" class="d-flex justify-content-center">
    <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/shop.unicorn/homepage-promotion-banners/horizontal-banner-1.jpg" alt=" ">
  </a>
</div>

<!-- Bestsellers Section -->
<section class="bestsellers-products mb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-12 mt-2  col-xl-12 ">
        <div class="row align-items-end" id="bestSellersProductsContainer" #bestSellersProductsContainer>
          <!-- <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
            <h4 class="product_namess pl-5 ">Bestsellers products</h4>
          </div>
          <div class="col-md-6 col-sm-6 col-6 col-lg-6 col-xl-6">
            <div class="swiper_btn">
              <div class="swiper-button-next second-swiper-bestseller-next"></div>
              <span class="slide_pipe second-swiper-bestseller-next">|</span>
              <div class="swiper-button-prev second-swiper-bestseller-prev"></div>
            </div>
          </div> -->
        </div>
        <!-- Bestsellers products Lazy Loaded here... -->
      </div>
      <!-- <div class="col-sm-auto   mt-2 col-md-3 col-lg-3 col-xl-2 text-center">
        <a [routerLink]="'/accessories/airpods-earpods1'"  class="pointer">
          <img src="assets/home/Vertical Banners.jpg" alt="Product" class="img-fluid img_bestseller border">
        </a>
      </div> -->
    </div>
  </div>
</section>
<!-- fa-chevron-left -->
<!-- <button type="button" (click)="toggleButtons()" class="floating-icos" [ngStyle]="{'margin-right': disableButtons ? '27px' : '5px'}"><i class="fab fa-creative-commons-sa"></i></button>
<div class="floating-btns" [ngClass]="{ 'disabled': disableButtons }">
  <button type="button" class="btn scroll-to-id  face_books" (click)="toggleButtons()"><i class="fa fal fa-times-circle"></i></button>
 
  <a *ngFor="let socialMedia of socialMediaHolder" [href]="socialMedia.url" target="_blank">
    <button type="button" class="btn scroll-to-id face_books" [ngClass]="socialMedia.name.toLowerCase()">
      <i [ngClass]="getIconClass(socialMedia.name)" class="fab mx-1"></i>{{ socialMedia.name }}
    </button>
  </a>
</div> -->

<!-- <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-facebook-square mx-1"></i>Facebook</button>
  <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-instagram-square mx-1"></i>Instagram</button>
  <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-youtube mx-1"></i>Youtube</button>
  <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-linkedin mx-1"></i>Linkedin</button>
  <button type="button" class="btn scroll-to-id  face_books"><i class="fab fa-twitter-square mx-1"></i>Twitter</button>   -->
