  .swiper-container {
      height: 100vh;
      /* Fullscreen height */
  }

  .slide-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
  }

  .slide-content h2 {
      font-size: 24px;
      margin-bottom: 10px;
  }

  .slide-content p {
      font-size: 16px;
  }