<!-- <div class="swiper-container">
  <swiper [config]="config">
    <ng-template swiperSlide>
      <div class="slide-content">
        <h2>Welcome to the App</h2>
        <p>Start exploring the features of our app.</p>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide-content">
        <h2>Easy Payments</h2>
        <p>Secure and fast payments using your preferred method.</p>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide-content">
        <h2>Stay Organized</h2>
        <p>Keep track of your purchases, deliveries, and more.</p>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide-content">
        <h2>Get Started</h2>
        <p>Sign up now and enjoy the benefits.</p>
      </div>
    </ng-template>
  </swiper>
</div> -->