<div class="">

  <span class="spread"></span>

  <section class="sec-1 bg-light-green ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6 col-lg-6 mb-4 mb-sm-0">
          <div class="hero-text-box" #target>
            <h3>Exclusive discount upto 19% off on Macs for Students &amp; Teachers.</h3>
            <p class="pg d-none">
              When inspiration strikes and the doing needs doing, get it done as ideas come to you. Ace your
              assignments,
              crush presentations and surprise yourself with what's possible.
              Whatever tomorrow brings, you're more than ready for it.
            </p>
            <a class="btn btn-success btn-lg scroll-to-id px-4 mt-3" data-target="#downloadModal"
              (click)="scroll(target)">Know
              More</a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 text-right">
          <div class="hero-img-right">
            <img src="https://shop.unicornstore.in/beam/themes/2019/assets/img/bts/hero.png" class="img-fluid" alt=" ">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-2 text-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <img src="https://shop.unicornstore.in/beam/themes/2019/assets/img/bts/mac-hero.png" class="img-fluid"
            alt="Image Not Available">
        </div>
        <div class="col-sm-6 text-center">

          <div class="table-responsive">
            <table class="table table-sm text-nowrap w-100 table-bordered" style="border: 0;">
              <thead>
                <tr>
                  <th></th>
                  <th>MacBook Air<small>(13% off)</small></th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>15-inch Macbook Air (M2, 256GB)</td>
                  <td><i class="fa fa-inr mr-1"></i>134,900</td>

                </tr>
                <tr>
                  <td>Education Discount (13%)</td>

                  <td><i class="fa fa-inr mr-1"></i>17,537</td>

                </tr>

                <tr>
                  <td>Cashback</td>
                  <td><i class="fa fa-inr mr-1"></i>5,000</td>
                </tr>
                <tr>
                  <th>Effective Price</th>
                  <th><i class="fa fa-inr mr-1"></i>112,363</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center mt-3">
        <div class="col-auto">
          <a href="#" class="btn btn-success btn-lg scroll-to-id px-4" data-toggle="modal"
            data-target="#downloadModal">Download the form &amp; Get Started</a>
        </div>
      </div>

    </div>
  </section>

  <section class="sec-3 bg-light-green py-5">
    <div class="container text-center">
      <h3 class="title-md mb-4">Find your brilliance with the latest <br> Macs</h3>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-5">
          <h4 class="heading-sm">Apple Silicon</h4>
          <p class="pg-sm">
            Powerful processors that easily zip through the most intensive tasks.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-5">
          <h4 class="heading-sm">Supercharged</h4>
          <p class="pg-sm">
            Compatible with the apps used by pros in your future field. Mac will see you through college and beyond.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-5">
          <h4 class="heading-sm">Retina Display</h4>
          <p class="pg-sm">
            Stunning displays for stunning work.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <h4 class="heading-sm">Performance</h4>
          <p class="pg-sm">
            Juggles Microsoft Office, Autodesk, Maya and much more.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-4 py-5 d-none">
    <div class="container">
      <div class="row align-items-center text-center text-sm-left">
        <div class="col-sm-6">
          <h3 style="font-size: 36px">Our 18 years of achievements</h3>
          <div class="heading-sm">With our super powers we have reached this</div>
        </div>
        <div class="col-sm-6">
          <div class="row align-items-center">
            <div class="col-6 col-sm-6 mb-4">
              <div class="media align-items-center">

                <div class="media-body ml-3">
                  <h3 class="heading-md mb-0">30+</h3>
                  <p class="pg-lg mb-0">Stores in India</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-4">
              <div class="media align-items-center">

                <div class="media-body ml-3">
                  <h3 class="heading-md mb-0">30+</h3>
                  <p class="pg-lg mb-0">Service Centers</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-4">
              <div class="media align-items-center">

                <div class="media-body ml-3">
                  <h3 class="heading-md mb-0">500 K+</h3>
                  <p class="pg-lg mb-0">Customers</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-4 d-none">
              <div class="media align-items-center">

                <div class="media-body ml-3">
                  <h4 class="heading-md mb-0">XYZ</h4>
                  <p class="pg-lg mb-0">Point</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-5 pt-4 pb-5 text-center">
    <div class="container">
      <h3 class="title-md text-center mb-4">Our Process</h3>
      <div class="row justify-content-center mb-5">
        <div class="col-sm-6 mb-4 mb-sm-0">
          <div class="card h-100 shadow card-border-1">
            <div class="card-body">
              <h1 class="number m-0">1</h1>
              <hr>
              <p class="pg-lg">
                Download the consent form, print it, fill in the details, sign it, and scan it alongwith your
                college/institute ID card and government ID proof, before you proceed further.
              </p>
            </div>
          </div>
          <span class="right-arrow first-arrow"><i class="fa fa-angle-right"></i></span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-3 mb-4 mb-sm-0">
          <div class="card h-100 shadow card-border-2">
            <div class="card-body">
              <h1 class="number m-0">2</h1>
              <hr>
              <p class="pg-lg">Select your preferred Mac model.</p>
            </div>
          </div>
          <span class="right-arrow"><i class="fa fa-angle-right"></i></span>
        </div>
        <div class="col-sm-3 mb-4 mb-sm-0">
          <div class="card h-100 shadow card-border-3">
            <div class="card-body">
              <h1 class="number m-0">3</h1>
              <hr>
              <p class="pg-lg">Complete the registration process.</p>
            </div>
          </div>
          <span class="right-arrow"><i class="fa fa-angle-right"></i></span>
        </div>
        <div class="col-sm-3 mb-4 mb-sm-0">
          <div class="card h-100 shadow card-border-4">
            <div class="card-body">
              <h1 class="number m-0">4</h1>
              <hr>
              <p class="pg-lg">Upload all the documents &amp; you are done.</p>
            </div>
          </div>
          <span class="right-arrow"><i class="fa fa-angle-right"></i></span>
        </div>
        <div class="col-sm-3 mb-4 mb-sm-0">
          <div class="card h-100 shadow card-border-5">
            <div class="card-body">
              <h1 class="number m-0">5</h1>
              <hr>
              <p class="pg-lg">We will contact you within 24 hrs to verify &amp; process it further.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Frequently Asked Questions Section without collapse -->
  <section class="faq-section py-5 bg-light">
    <div class="container">
      <div class="row mb-4 text-center">
        <div class="col-sm-12">
          <h2 class="section-title mb-2">Frequently Asked Questions</h2>
          <p class="section-subtitle">We have tried to answer the most common questions. If you have any other
            questions, please contact us.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-5">
          <div class="content-box">

            <div class="content">
              <h3 class="faq-heading">How do I claim a student discount for Apple products in India?</h3>
              <strong>Ans:</strong> Conditions to follow-
              <ul>
                <li>A current college ID card</li>
                <li>One should be at most 18 years old.</li>
                <li>The discount is only available to students in grades 12 and up.</li>
              </ul>
              You can use the discount through an Apple premium reseller or online store.
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-5">
          <h3 class="faq-heading">What proof do I need to get an Apple Store education discount?</h3>
          <p class="paragraph">
            <strong>Ans:</strong> Valuation proof of eligibility is required to get an Apple Store education discount.
            For this purpose, you typically need to provide proof of your academic status,
            such as a valid student ID or acceptance letter from a university.
          </p>
        </div>
        <div class="col-sm-6 mb-5">
          <h3 class="faq-heading">Can I get a student discount at the Unicorn Store?</h3>
          <p class="paragraph">
            <strong>Ans:</strong> Yes, student discounts are usually offered to those who can provide valid proof of
            their status as a student,
            such as a student ID or a university email address.
            It is best to check with the Unicorn Store for their specific requirements and eligibility criteria.
          </p>
        </div>
        <div class="col-sm-6 mb-5">
          <h3 class="faq-heading">How good are Unicorn's Apple student discount offers?</h3>
          <p class="paragraph">
            <strong>Ans:</strong> Apple student discount offers are typically quite good and can save students money on
            new Apple products.
            The discount typically ranges from 10 -15% and may include additional perks.
            Students can take advantage of these discounts by providing proof of enrollment in an eligible university.
          </p>
        </div>
        <div class="col-sm-6 mb-5">
          <h3 class="faq-heading">Does Apple give a discount on iPad to students?</h3>
          <p class="paragraph">
            <strong>Ans:</strong> Yes, Apple Student Discount is a fantastic way to save money on the tech giant's most
            popular products and services.
            The deal typically ranges from 20% to 50% off the regular price of an iPad, depending on the model.
          </p>
        </div>
        <div class="col-sm-6">
          <h3 class="faq-heading">Does Apple launch a back-to-school offer every year for India?</h3>
          <p class="paragraph">
            <strong>Ans:</strong> Yes, Apple has previously offered back-to-school deals in various countries, including
            India,
            offering discounts on Apple products to students and educators during the back-to-school season.
            It is best to check Apple's website or social media channels for any current promotions or offers.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-6 bg-light-green pt-5 pb-3 pb-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-9">
          <h3 class="title-md text-center mb-4">Why Unicorn?</h3>
          <p class="pg text-center mb-5">
            You're never too far from one of our stores and it's a great place to

            start when you need some guidance.
          </p>
        </div>
      </div>

      <div class="row align-items-center border-y-white justify-content-center py-2 bg-light">
        <div class="col-6 col-sm-6"></div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm m-0">Open Markets</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm m-0">Unicorn</h4>
        </div>
      </div>

      <div class="row align-items-center border-y-white justify-content-center py-3">
        <div class="col-6 col-sm-6 text-center text-sm-left">
          <h4 class="heading-sm m-0">
            Exclusive product availability
          </h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-danger m-0">No</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-success m-0">Yes</h4>
        </div>
      </div>

      <div class="row align-items-center border-y-white justify-content-center py-3 bg-light">
        <div class="col-6 col-sm-6 text-center text-sm-left">
          <h4 class="heading-sm m-0">Dedicated service centre</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-danger m-0">No</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-success m-0">Yes</h4>
        </div>
      </div>

      <div class="row align-items-center border-y-white justify-content-center py-3">
        <div class="col-6 col-sm-6 text-center text-sm-left">
          <h4 class="heading-sm m-0">Wide range of accessories</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-danger m-0">No</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-success m-0">Yes</h4>
        </div>
      </div>

      <div class="row align-items-center border-y-white justify-content-center py-3 bg-light">
        <div class="col-6 col-sm-6 text-center text-sm-left">
          <h4 class="heading-sm m-0">Apple Experts to help customers</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-danger m-0">No</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-success m-0">Yes</h4>
        </div>
      </div>

      <div class="row align-items-center border-y-white justify-content-center py-3">
        <div class="col-6 col-sm-6 text-center text-sm-left">
          <h4 class="heading-sm m-0">Post Product set-up after each billing</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-danger m-0">No</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-success m-0">Yes</h4>
        </div>
      </div>

      <div class="row align-items-center border-y-white justify-content-center py-3 bg-light">
        <div class="col-6 col-sm-6 text-center text-sm-left">
          <h4 class="heading-sm m-0">Dedicated festive offers</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-danger m-0">No</h4>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <h4 class="heading-sm text-success m-0">Yes</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-7 d-none py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm col-lg-8">
          <svg width="143" height="120" viewBox="0 0 143 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#a6dfcc" fill-rule="evenodd" clip-rule="evenodd"
              d="M142.373 18.7419C121.049 29.1541 110.387 41.3882 110.387 55.4447C119.476 56.4859 126.992 60.1735 132.934 66.5076C138.877 72.8417 141.849 80.1735 141.849 88.5033C141.849 97.3536 138.965 104.816 133.197 110.889C127.428 116.963 120.175 120 111.435 120C101.647 120 93.1701 116.052 86.0037 108.156C78.8374 100.26 75.2542 90.6725 75.2542 79.3926C75.2542 45.553 94.306 19.089 132.41 0L142.373 18.7419ZM67.1186 18.7419C45.6196 29.1541 34.8702 41.3882 34.8702 55.4447C44.134 56.4859 51.7373 60.1735 57.6801 66.5076C63.6229 72.8417 66.5943 80.1735 66.5943 88.5033C66.5943 97.3536 63.6666 104.816 57.8112 110.889C51.9557 116.963 44.6584 120 35.919 120C26.1308 120 17.6973 116.052 10.6184 108.156C3.53942 100.26 0 90.6725 0 79.3926C0 45.553 18.9643 19.089 56.8935 0L67.1186 18.7419Z">
            </path>
          </svg>
          <p class="pg" style="position: absolute; top: 55px;left: 190px;">Some Stories</p>
          <h3 class="title-md some-story-title">Take Advantage of <br> The MAC with M1</h3>
          <br><br>
          <br>
          <div class="row justify-content-center">
            <div class="col-sm-5 offset-lg-2 some-story-1">
              <div class="card">
                <div class="card-body">
                  <div class="user-img-box">
                    <img src="https://shop.unicornstore.in/beam/themes/2019/assets/img/icons/user.png" class="img-fluid"
                      alt="Not Available">
                  </div>
                  <div class="media mt-3">
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.9298 2.18655C13.5439 3.40131 12.351 4.82863 12.351 6.46855C13.3679 6.59002 14.2088 7.02024 14.8738 7.75922C15.5387 8.4982 15.8712 9.35357 15.8712 10.3254C15.8712 11.3579 15.5485 12.2285 14.9031 12.9371C14.2577 13.6457 13.4461 14 12.4683 14C11.3731 14 10.4246 13.5394 9.62279 12.6182C8.82096 11.697 8.42005 10.5785 8.42005 9.26247C8.42005 5.31451 10.5517 2.22705 14.8151 0L15.9298 2.18655ZM7.50978 2.18655C5.10429 3.40131 3.90156 4.82863 3.90156 6.46855C4.93808 6.59002 5.78878 7.02024 6.45372 7.75922C7.11865 8.4982 7.45111 9.35357 7.45111 10.3254C7.45111 11.3579 7.12354 12.2285 6.46838 12.9371C5.81323 13.6457 4.99675 14 4.0189 14C2.92372 14 1.98012 13.5394 1.18807 12.6182C0.39602 11.697 0 10.5785 0 9.26247C0 5.31451 2.12188 2.22705 6.36571 0L7.50978 2.18655Z"
                        fill="#2EC5CE"></path>
                    </svg>

                    <div class="media-body ml-2">
                      <p class="pg">
                        Amazing Service.. special thanks to Prager for Assisting me in scheduling my appointment. And to
                        Burhan for the quick repair work of my VacBook Air. Customer service and satisfaction is the key
                        in today's time. And they have really work towards it. Pis continual with the efforts. Thanks
                        again. And thanks to Unicorn too.
                      </p>
                      <div class="card-sub-heading">Dipal Jhaveri</div>
                      <p class="pg-xs text-muted">Astt. Prof, Delhi University</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="card mb-4" style="margin-top: -92px">
                <div class="card-body">
                  <div class="user-img-box">
                    <img src="https://shop.unicornstore.in/beam/themes/2019/assets/img/icons/user.png" class="img-fluid"
                      alt="Not Available">
                  </div>
                  <div class="media mt-3">
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.9298 2.18655C13.5439 3.40131 12.351 4.82863 12.351 6.46855C13.3679 6.59002 14.2088 7.02024 14.8738 7.75922C15.5387 8.4982 15.8712 9.35357 15.8712 10.3254C15.8712 11.3579 15.5485 12.2285 14.9031 12.9371C14.2577 13.6457 13.4461 14 12.4683 14C11.3731 14 10.4246 13.5394 9.62279 12.6182C8.82096 11.697 8.42005 10.5785 8.42005 9.26247C8.42005 5.31451 10.5517 2.22705 14.8151 0L15.9298 2.18655ZM7.50978 2.18655C5.10429 3.40131 3.90156 4.82863 3.90156 6.46855C4.93808 6.59002 5.78878 7.02024 6.45372 7.75922C7.11865 8.4982 7.45111 9.35357 7.45111 10.3254C7.45111 11.3579 7.12354 12.2285 6.46838 12.9371C5.81323 13.6457 4.99675 14 4.0189 14C2.92372 14 1.98012 13.5394 1.18807 12.6182C0.39602 11.697 0 10.5785 0 9.26247C0 5.31451 2.12188 2.22705 6.36571 0L7.50978 2.18655Z"
                        fill="#2EC5CE"></path>
                    </svg>

                    <div class="media-body ml-2">
                      <p class="pg">
                        It was a great experience. I enjoyed the whole process of purchasing a MacBook. The sales rep.
                        Mr. Sunny was polite helpful, and extremely knowledgeable about the products. All my queries
                        were answered Amy

                        satisfactorily
                      </p>
                      <div class="card-sub-heading">Ninad Sachania</div>
                      <p class="pg-xs text-muted">PHD Student IIT Bombay</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="user-img-box">
                    <img src="https://shop.unicornstore.in/beam/themes/2019/assets/img/icons/user.png" class="img-fluid"
                      alt="Not Available">
                  </div>
                  <div class="media mt-3">
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.9298 2.18655C13.5439 3.40131 12.351 4.82863 12.351 6.46855C13.3679 6.59002 14.2088 7.02024 14.8738 7.75922C15.5387 8.4982 15.8712 9.35357 15.8712 10.3254C15.8712 11.3579 15.5485 12.2285 14.9031 12.9371C14.2577 13.6457 13.4461 14 12.4683 14C11.3731 14 10.4246 13.5394 9.62279 12.6182C8.82096 11.697 8.42005 10.5785 8.42005 9.26247C8.42005 5.31451 10.5517 2.22705 14.8151 0L15.9298 2.18655ZM7.50978 2.18655C5.10429 3.40131 3.90156 4.82863 3.90156 6.46855C4.93808 6.59002 5.78878 7.02024 6.45372 7.75922C7.11865 8.4982 7.45111 9.35357 7.45111 10.3254C7.45111 11.3579 7.12354 12.2285 6.46838 12.9371C5.81323 13.6457 4.99675 14 4.0189 14C2.92372 14 1.98012 13.5394 1.18807 12.6182C0.39602 11.697 0 10.5785 0 9.26247C0 5.31451 2.12188 2.22705 6.36571 0L7.50978 2.18655Z"
                        fill="#2EC5CE"></path>
                    </svg>

                    <div class="media-body ml-2">
                      <p class="pg">
                        It provides you good discount and it can be trusted i have brought my new MacBook Air today, :)
                      </p>
                      <div class="card-sub-heading">Prashant Mishra</div>
                      <p class="pg-xs text-muted">Prof, Pune University</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!--<a href="javascript:void(0);" class="floating-btn" data-toggle="modal" data-target="#btsmodal">-->
  <!--    Get Started-->
  <!--</a>-->

  <a href="javascript:void(0);" class="floating-btn" data-toggle="modal" data-target="#downloadModal">
    Get Started
  </a>
  <!-- <div class="modal-footer">

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>Slide 1</ng-template>
      <ng-template carouselSlide>Slide 2</ng-template>
      <ng-template carouselSlide>Slide 3</ng-template>
    </owl-carousel-o>


  </div> -->
  <!-- Large modal -->
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

  <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="btsmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> -->




  <!-- Modal -->

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="btsmodalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xxl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btsmodalLabel">Student Offer 2023</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- add bts steps with stepper form -->
          <div class="container mb-5">
            <div class="row">
              <div class="col-sm-12 text-center">
                <div class="border p-3">
                  <!--<h2 id="heading">Fill all form field to go to next step</h2>-->
                  <form action="https://shop.unicornstore.in/bts/add_bts" id="msform" class="bts-form"
                    enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    <!-- progressbar -->
                    <!-- <ul id="progressbar">
                      <li class="active" id="product"><strong>Select Product</strong></li>
                      <li id="register"><strong>Register &amp; Enrollment</strong></li>
                      <li id="document"><strong>Document</strong></li>
                      <li id="finish"><strong>Finish</strong></li>
                    </ul> -->

                    <p-steps [model]="items"></p-steps>
                    <br>
                    <!-- Step 1 Start -->
                    <fieldset class="fieldset-step-1">
                      <div class="form-card" id="selectproduct_bts">
                        <div class="row">
                          <div class="col-7">
                            <h2 class="fs-title">Select Product</h2>
                          </div>
                          <div class="col-5">
                            <h2 class="steps">Step 1 - 4</h2>
                          </div>
                        </div>

                        <owl-carousel-o [options]="customOptions">

                              <ng-container *ngFor="let item of studentComponentHolder;">
                          <ng-template carouselSlide>

                        <div class="border p-0 pr-2">
                          <div class="card border-0 text-center h-100 position-relative product-select-box"
                            data-id="3">
                            <h4 class="heading-sm px-2 mb-4 text-center">
                              <!-- {{item.images[0].filename}} -->


                            </h4>
                            <div class="card-body">
                              <div class="recommended-img-box" >
                                <img [src]="imgUrl +'/medium/' + item.images[0].filename" class="img-fluid" alt=" ">

                              </div>
                              <h4 class="heading-link "   >
                                {{item.name}}
                                <!-- {{item.child[0].crt_product_name}} -->
                              </h4>
                            </div>
                            <i class="fa fa-check-circle fa-lg text-success"></i>
                          </div>
                        </div>
                        <!-- <div class="border p-0 pr-2">
                          <div class="card border-0 text-center h-100 position-relative product-select-box"
                            data-id="3">
                            <div class="card-body">
                              <div class="recommended-img-box"  >
                                <img
                                  src="https://shop.unicornstore.in/uploads/images/medium/cc0d1999b8236328aff06729b8bff116.png"
                                  alt="...">
                              </div>
                              <h4 class="heading-link "   >15-inch MacBook Air: Apple M2</h4>
                            </div>
                            <i class="fa fa-check-circle fa-lg text-success"></i>
                          </div>
                        </div> -->

                      </ng-template>


                </ng-container>
                      </owl-carousel-o>



                        <hr>
                        <div class="after-select-product mt-3 d-none">
                          <h3 class="text-center title mb-3">Choose Your Options</h3>
                          <div class="variant-container">
                            <div id="selectOptions">
                              <select name="" id="options" class="custom-select btsOptions"></select>
                            </div>
                          </div>
                          <h4 class="heading mb-0 mt-4 text-center">
                            <span id="variant-price"></span>&nbsp;&nbsp;
                          </h4>
                          <h4 class="heading text-center mt-3" id="offer-price"></h4>
                          <h4 class="heading text-center mt-3" id="after-cashback-price"></h4>
                        </div>
                      </div>
                      <input type="button" name="next" id="next-step-1" class="next-btn action-button" value="Next">
                    </fieldset>
                    <!-- Step 1 End -->

                    <!-- Step 3 End -->
                    <!-- </form> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- modal div closed  -->



  <!--download modal-->
  <div class="modal fade " id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-4 ">
        <div class="modal-header">
          <h5 class="modal-title" id="downloadModalLabel">Education Program Consent Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row justify-content-center align-items-center">
            <div class="col mb-2">
              <img src="./assets/img/loader/download.png" alt="Download" class="img-fluid dssu">
            </div>
            <div class="col mb-2">
              <img src="https://shop.unicornstore.in/uploads/bts_dssu/sign.PNG" alt="Sign" class="img-fluid dssu">
            </div>
            <div class="col mb-2">
              <img src="https://shop.unicornstore.in/uploads/bts_dssu/scan.PNG" alt="Scan" class="img-fluid dssu">
            </div>
            <div class="col mb-2">
              <img src="https://shop.unicornstore.in/uploads/bts_dssu/upload.PNG" alt="Upload" class="img-fluid dssu">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!--<p>
                              <a href="" class="" id="" download="Apple_Agreement.pdf">
                                  Click Here
                              </a>
                              to Download
                          </p>-->
              <p><a href="https://shop.unicornstore.in/uploads/Bts_form/Consent_form.pdf" class="" id=""
                  download="Consent_form.pdf">Click Here</a> to Download</p>
              <p><b>Note:</b> Once you download the consent form take a print, fill in the details, sign and scan it in
                JPEG or PNG format.
                Scan your college/institute ID card and government ID proof as well, as you will need to upload them to
                complete the process.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" id="btsmodal" class="btn btn-success" >Proceed</button> -->
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal"
            data-target=".bd-example-modal-lg">Proceed</button>
          <!--                <button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
  <!--download modal-->

  <!--<section class="subscribe-newsletter bg-light py-5">
      <div class="container">
          <div class="row align-items-center justify-content-center text-center">
              <div class="col-sm-6">
                  <a href="javascript:void(0);" data-target="#modal_callback" data-toggle="modal" class="btn btn-tp-primary ml-3 text-uppercase px-sm-4 px-1">
                      E-Commerce Support
                  </a>
              </div>
          </div>
      </div>
  </section>-->

  <!--<div class="callback-form d-none animated fadeInRight" style="width: 366px !important; height: 703px !important;">
      <a href="javascript:void(0)" class="callback-close">&times;</a>
      <iframe src="https://crm.unicornstore.in/unicorn-lms/forms/wtl/2f78566d22e20e0bdb9d3f3268f820a4"  height="700" style="width: 100%; border-radius: 1rem"></iframe>
  </div>
  <a href="javascript:void(0);" class="callback-floating-btn d-none d-inline-flex" id="call-btn"><i class="fa fa-question-circle-o mr-2"></i> Help</a>
  -->

  <!-- help module link Only Uncomment this  -->
  <!--<a href="javascript:void(0);" data-toggle="modal" data-target="#modelId" class="callback-floating-btn"><i class="fa fa-question-circle-o mr-2"></i> Help</a>-->


  <!-- Lockdown Notice -->
  <!--<p class="pg text-white d-none d-sm-block bg-primary text-center notice-text m-0">
      Important notice: Due to global lockdown International shipments and domestic deliveries are widely affected. You
      may experience a delay in receiving the product.
  </p>
  <div class="d-block d-sm-none">
      <marquee class="news-scroll " scrollamount="5" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
          Important notice: Due to global lockdown International shipments and domestic deliveries are widely affected. You
          may experience a delay in receiving the product.
      </marquee>
  </div>-->


  <!-- Footer -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block py-0 foot-nav">
    <div class="container">
      <ul class="navbar-nav mr-auto foot-ul">
        <li class="nav-item">
          <a class="nav-link" href="https://shop.unicornstore.in/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://shop.unicornstore.in/cart/training">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://shop.unicornstore.in/cart/support">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://shop.unicornstore.in/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://shop.unicornstore.in/news_events">News &amp; Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://shop.unicornstore.in/career/openings">Careers</a>
        </li>
      </ul>
    </div>
  </nav>


</div>
