<style>
  ::selection {
    background-color: #E13300;
    color: white;
  }

  ::-moz-selection {
    background-color: #E13300;
    color: white;
  }

  .heading-404 {
    background-image: linear-gradient(180deg, #EAF0F4 0%, #4C8ED6 100%);
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15vw;
    text-shadow: 2px 21px 20px 0 #03030325;
    -webkit-text-stroke: 2px rgb(39 92 184);
  }

  .oops {
    color: #275CB8;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
  }
</style>
<section class="page-found py-5 my-5">
  <div class="container">
    <div class="row h-100 align-items-center justify-content-center">
      <!-- <div class="col-sm-6">
        <h4 class="heading-404 text-center">404</h4>
        <h5 class="oops text-center">Oops!! Page Not Found.</h5>
      </div> -->
      <div class="col-sm-auto">
        <img src="assets/img/not-found/404-1.png" class="img-fluid" alt=" ">
      </div>
    </div>
  </div>
</section>
