.iphoneforlife {
    text-align: center;
    font-size: 5rem;
    // color: #3e71b3;
    color: #71bf44;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 15px;
}


section .first-section h4 {
    color: #231f20;
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
}

.iphone-for-you {
    /* max-width: 600px; */
    margin: 0 auto;
    display: table;
}

section.easy-install-program {
    padding: 4% 0;
    padding-bottom: 0;
    background: #fff;
}

.category-info {
    margin-bottom: 40px;
    margin-top: 20px;
}

section.easy-install-program .easy-heading {
    margin-bottom: 30px;
}

section.easy-install-program h4 {
    font-size: 35px;
    line-height: 46px;
}

.icici-iphone-slider-header {
    background-color: #000000;
    padding: 5px;
    margin: 0 auto;
    display: table;
    margin-top: 30px;
    margin-bottom: 30px;
}

.category-listing-carousel-icici {
    padding: 5px 15px;
}

.tns-outer {
    position: relative;
}

section.easy-install-program .icici-offers-iphones {
    background-color: #ffffff !important;
}

section.easy-install-program .icici-offers-iphones h4.heading-2 {
    color: #000000;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    /* height: 350px; */

}

section.easy-install-program .icici-offers-iphones table {
    margin-top: 25px !important;
}

section.easy-install-program .icici-offers-iphones table {
    width: 100%;
    margin-top: 80px;
}

.table-scroll table {
    width: 100%;
    /* min-width: 1280px; */
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}

section.easy-install-program .icici-offers-iphones table tr th {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    width: 10%;
}

.icici-offers-iphones table tr th {
    text-align: left !important;
}

.easy-install-program table td,
.easy-install-program table tr,
.easy-install-program table th {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    width: 10%;
}

section.tandc .offer-tandc ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

section.tandc .offer-tandc h5 {
    color: #231f20;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.easy-install-program table td,
.easy-install-program table tr,
.easy-install-program table th {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    background-color: transparent;
}

.easy-install-program table td,
.easy-install-program table tr,
.easy-install-program table th {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    background-color: transparent;
}

.easy-install-program table td,
.easy-install-program table tr,
.easy-install-program table th {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    background-color: transparent;
}

.faintgray-ic {
    background-color: #f3f3f3 !important;
}

section.tandc {
    padding: 4% 0;
    background: #e2e2e2;
}

.fourth-section {
    background: #e2e2e2;
}

section.tandc .offer-tandc ul {
    list-style: disc;
    padding: 20px 26px;
}

.iphone-for-u-faq {
    padding: 60px 0px;
}

.iphone-for-u-faq h5 {
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

.iphone-for-u-faq .panel-heading {
    padding: 0;
    border: 0;
}

.iphone-for-u-faq .panel-title>a,
.iphone-for-u-faq .panel-title>a:active {
    display: block;
    padding: 15px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 24px;
}

.iphone-for-u-faq a,
.iphone-for-u-faq a:hover {
    color: #000000;
}

.iphone-for-u-faq .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wrapper {
    margin-top: auto !important;
}

.iphone-for-u-faq .panel-heading a:before {
    content: "\f107";
    /* Unicode character for the angle-down icon */
    font-family: "Font Awesome 5 Free";
    /* Font family for Font Awesome icons */
    font-weight: 900;
    /* Font weight for solid icons */
    float: right;
    transition: all 0.5s;
    font-size: 25px;
    margin-right: 5px;
    /* Adjust the spacing between the icon and the text */
}

.iphone-for-u-faq .panel-body {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}

.hero-banner-cta {
    background: #ffffff;
    text-align: center !important;
}

.numberIcon {
    margin: 15px auto;
}

.bannericons {
    border: 1px solid #2196f3;
    border-radius: 10px;
    padding: 15px;
    max-width: 210px;
    margin: 0 auto;
    position: relative;
}

.number {
    position: absolute;
    left: -15px;
    top: -15px;
    width: 35px;
    height: 35px;
    border: 1px solid #2196f3;
    font-size: 19px;
    border-radius: 100px;
    font-weight: 600;
    line-height: 1.7;
    background-color: #ffffff;
}

.numberIcon p {
    font-size: 14px;
    line-height: 1.5;
    padding-top: 10px;
    text-align: left;
    max-width: 210px;
    font-weight: 500;
    margin: 0 auto;
}

a {
    text-decoration: none !important;

}