<div class="container">
  <section class="first-section ">
    <div class="container">
      <h1 class="iphoneforlife">iPhone for Life.</h1>
      <h4 class="text-center">
        Always have the latest iPhone. For life.
        <br>
        Upgrade to iPhone with an EMI starting ₹2341 p.m*
      </h4>
      <img src="/assets/img/iphone_for_life_banner-24.png" class="img-fluid iphone-for-you" alt="Banners">
    </div>
  </section>
</div>

<!-- button for redirect to products for iFL -->
<!-- <section class="second-section pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-auto">
        <a routerLink="/iphone-life-product" class="btn btn-primary rounded-4 btn-lg text-white">View All iPhones For Life</a>
      </div>
    </div>
  </div>
</section> -->

<!-- Second section start heres  -->
<div class="hero-banner-cta">
  <section>
    <div class="container">
      <div class="col-12  " style="text-align: center; margin: 0 auto; display:none1;">
        <div class="row py-4">
          <div class="col-auto numberIcon">
            <a href="">
              <div class="bannericons">
                <img src="/assets/img/icici-1.png" class="img-fluid" alt="">
                <h2 class="number">1.</h2>
              </div>
              <p>Find the Apple Authorised Reseller near you</p>
            </a>
          </div>
          <div class="col-auto numberIcon">
            <div class="bannericons">
              <img src="/assets/img/icici-2.png" class="img-fluid" alt="">
              <h2 class="number">2.</h2>
            </div>
            <p>Walk in to the store and Choose your favourite iPhone</p>
          </div>
          <div class="col-auto numberIcon">
            <div class="bannericons">
              <img src="/assets/img/icici-3.png" class="img-fluid" alt="">
              <h2 class="number">3.</h2>
            </div>
            <p>Sign up for the iPhone for Life program at the store</p>
          </div>
          <div class="col-auto numberIcon d-block d-sm-none">
            <div class="bannericons">
              <img src="/assets/img/icici-4.png" class="img-fluid" alt="">
              <h2 class="number">4.</h2>
            </div>
            <p>
              Pay Using your ICICI Bank Credit Card 75% payable in 24 No Cost EMIs.
              <br>
              Eg. Pay ₹2341 p.m. for iPhone 15 for 24 months
            </p>
          </div>
          <div class="col-auto numberIcon d-none d-sm-block">
            <div class="bannericons">
              <img src="/assets/img/icici-4.png" class="img-fluid" alt="">

              <h2 class="number">4.</h2>
            </div>
            <p>
              Pay Using your ICICI Bank Credit Card 75% payable in 24 No Cost EMIs.

              Eg. Pay ₹2341 p.m. for iPhone 15 for 24 months
            </p>
          </div>
          <div class="col-auto numberIcon 5icon">
            <div class="bannericons">
              <img src="/assets/img/icici-5.png" class="img-fluid" alt="">
              <h2 class="number">5.</h2>
            </div>
            <p class="center-text">
              Option after 24 months

              - Pay 25% balance and keep your device
<br>
             <span class="d-flex justify-content-center"> or</span>
            
              <span style="text-align:justify;">- Return the device in good condition to the store, pay the remaining 25% and upgrade to the latest iPhone at that time</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--   third section start here -->
<div class="bg-white">
  <div class="container">
    <section class="easy-install-program">
      <section class="category-info" style="display:none;">
        <div class="container">
          <div class="easy-heading">
            <h4 class="heading-2 text-center">Easy Instalments Program</h4>
          </div>
          <div class="icici-iphone-slider-header">
            <ul>
              <li>Pay 75% in 24 months</li>
              <li>|</li>
              <li>Balance 25% due after 24 months</li>
              <li>|</li>
              <li>25% Assured Buyback</li>
            </ul>
          </div>
        </div>
        <div class="container container-right1">
          <div class="category-listing-carousel-icici">
            <div class="tns-outer" id="tns1-ow">
              <div
                class="tns-controls"
                aria-label="Carousel Navigation"
                tabindex="0"
                style="display: none;">
                <button
                  type="button"
                  data-controls="prev"
                  tabindex="-1"
                  aria-controls="tns1">prev</button>
                <button
                  type="button"
                  data-controls="next"
                  tabindex="-1"
                  aria-controls="tns1">next</button>
              </div>
              <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">
                slide
                <span class="current">5 to 7</span>
                of 3
              </div>
              <div id="tns1-mw" class="tns-ovh">
                <div class="tns-inner" id="tns1-iw">
                  <div class="slider  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transition-duration: 0s; transform: translate3d(-36.3636%, 0px, 0px);">
                    <div class="slider-item tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_12_Green.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 12</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹59,900</s>
                        </div>
                        <div class="price">₹1,778</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_14.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 14</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹79,900</s>
                        </div>
                        <div class="price">₹2,341</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_14_Plus.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 14 Plus</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹89,900</s>
                        </div>
                        <div class="price">₹2,653</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_12_Green.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 12</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹59,900</s>
                        </div>
                        <div class="price">₹1,778</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-active" id="tns1-item0">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_14.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 14</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹79,900</s>
                        </div>
                        <div class="price">₹2,341</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-active" id="tns1-item1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_14_Plus.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 14 Plus</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹89,900</s>
                        </div>
                        <div class="price">₹2,653</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-active" id="tns1-item2">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_12_Green.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 12</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹59,900</s>
                        </div>
                        <div class="price">₹1,778</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_14.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 14</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹79,900</s>
                        </div>
                        <div class="price">₹2,341</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_14_Plus.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 14 Plus</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹89,900</s>
                        </div>
                        <div class="price">₹2,653</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_12_Green.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 12</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹59,900</s>
                        </div>
                        <div class="price">₹1,778</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                    <div class="slider-item tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1">
                      <div class="product">
                        <div class="img">
                          <img src="https://www.indiaistore.com/files/uploads/icici/iPhone_14.png">
                        </div>
                        <div class="name line-pro">
                          <span>iPhone 14</span>
                        </div>
                        <div class="price">
                          From
                          <br>
                          <s>₹79,900</s>
                        </div>
                        <div class="price">₹2,341</div>
                        <div class="name net-offers">Net effective monthly cost</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="icici-offers-iphones mt-0">
        <div class="container py-3 py-md-5">
          <h4 class="heading-2 text-center">Effective Monthly Cost Illustration</h4>
          <div id="table-scroll" class="table-scroll">
            <table id="main-table" class="main-table">
              <thead>
                <tr>
                  <th scope="col" class="pro-wid">Device</th>
                  <th scope="col">Starting MRP (A)</th>
                  <th scope="col">Starting price net of store discount (A)</th>
                  <th scope="col">Tenure</th>
                  <th scope="col">Loan amount (75% of transaction amount) (B = 75%*A)</th>
                  <th scope="col">Balance payment (25% of transaction amount) (C = 25%*A)</th>
                  <th scope="col">Processing fee (1% on loan amount) (D = 1%*B)</th>
                  <th scope="col">Total interest amount (credited later as cashback) (E)</th>
                  <th scope="col">EMI amount (in the card statement exc. tax on interest) (F)</th>
                  <th scope="col">Net effective monthly cost (Net of interest amount cashback) (G=B/24)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="faintgray-ic">
                  <th class="pro-wid">iPhone 15</th>
                  <td> 79,900</td>
                  <td> 74,900</td>
                  <td>24 months</td>
                  <td>56,175</td>
                  <td>18,725</td>
                  <td>562</td>
                  <td>5,991</td>
                  <td>2,590</td>
                  <td>2,341</td>
                </tr>
                <tr class="darkgray-ic">
                  <th class="pro-wid">iPhone 15 Plus</th>
                  <td> 89,900</td>
                  <td>84,900</td>
                  <td>24 months</td>
                  <td>63,675</td>
                  <td>21,225</td>
                  <td>637</td>
                  <td>6,791</td>
                  <td>2,936</td>
                  <td>2,653</td>
                </tr>
                <tr class="faintgray-ic">
                  <th class="pro-wid">iPhone 15 Pro</th>
                  <td> 1,34,900</td>
                  <td> 1,34,900</td>
                  <td>24 months</td>
                  <td>1,01,175</td>
                  <td>33,725</td>
                  <td>1,012</td>
                  <td>10,790</td>
                  <td>4,665</td>
                  <td>4,216</td>
                </tr>
                <tr class="darkgray-ic">
                  <th class="pro-wid">iPhone 15 Pro Max</th>
                  <td>1,59,900</td>
                  <td>1,59,900</td>
                  <td>24 months</td>
                  <td>1,19,925</td>
                  <td>39,975</td>
                  <td>1,199</td>
                  <td>12,790</td>
                  <td>5,530</td>
                  <td>4,997</td>
                </tr>
                <tr class="faintgray-ic">
                  <th class="pro-wid">iPhone 14</th>
                  <td> 69,900</td>
                  <td> 64,900</td>
                  <td>24 months</td>
                  <td>48,675</td>
                  <td>16,225</td>
                  <td>487</td>
                  <td>5,191</td>
                  <td>2,244</td>
                  <td>2,028</td>
                </tr>
                <tr class="darkgray-ic">
                  <th class="pro-wid">iPhone 14 Plus</th>
                  <td>79,900</td>
                  <td>74,900</td>
                  <td>24 months</td>
                  <td>56,175</td>
                  <td>18,725</td>
                  <td>562</td>
                  <td>5,991</td>
                  <td>2,590</td>
                  <td>2,341</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- fourth section -->
<div class="fourth-section">
  <div class="container">
    <section class="tandc">
      <div class="container">
        <div class="offer-tandc">
          <h5>Terms &amp; Conditions</h5>
          <ul>
            <li>Buy now, pay later with 24-month No Cost EMI. T&amp;C apply*</li>
            <li>75% of the transaction value will be converted into EMIs</li>
            <li>Balance 25% will be payable at the end of 24 months</li>
            <li>
              25% Assured Buy Back Plan offer by
              <img style="display:inline;max-width:120px;" src="https://www.indiaistore.com/files/uploads/products/available-offers/servify.png">
            </li>
            <li>Offer valid for all ICICI Bank Credit Card holders.</li>
            <li>Offer valid at all leading Apple authorised reseller stores</li>
            <li>
              For more details,
              <a  (click)="openPdfInNewTab()"  class="blue">Click Here</a>
            </li>
          </ul>
          <p class="heading">TM and © 2024 Apple Inc. All rights reserved.</p>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- fifth section -->
<div class="fifth-section">
  <div class="container">
    <section class="iphone-for-u-faq">
      <div class="col-md-12">
        <div class="row">
          <div class="container">
            <h5>Frequently Asked Questions</h5>
            <div class="wrapper center-block">
              <div
                class="panel-group"
                id="accordion"
                role="tablist"
                aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading active" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapseOne"
                        aria-expanded="false"
                        aria-controls="collapseOne"
                        class="collapsed"> 1. What are the program details?</a>
                    </h4>
                  </div>
                  <div
                    id="collapseOne"
                    class="panel-collapse in collapse"
                    role="tabpanel"
                    aria-labelledby="headingOne"
                    style="">
                    <div class="panel-body"> The program allows you to pay for select iPhone models in 24-month interest free instalments and guarantees a fixed buy back price for your iPhone when you upgrade to your next iPhone or will provide you the Assured Buy Back amount in your bank account. The plan is available on iPhone 15, iPhone 15 Plus, iPhone 15 Pro, iPhone 15 Pro Max, iPhone 14 and iPhone 14 Plus</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"> 2. Who will provide Assured Buy Back?</a>
                    </h4>
                  </div>
                  <div
                    id="collapseTwo"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="headingTwo"
                    style="">
                    <div class="panel-body"> The Assured Buy Back is provided by Servify exclusively on select iPhone models. Apple authorised reseller stores will be responsible to enable the Assured Buy Back Plan along with 24-month EMI schemes. Assured Buy Back redemptions will be subject to overall program Terms and Conditions defined by Servify.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"> 3. What are the key benefits?</a>
                    </h4>
                  </div>
                  <div
                    id="collapseThree"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="headingThree"
                    style="">
                    <div class="panel-body">
                      Assured Buyback Plan that protects the value of your iPhone against market fluctuations and insures an assured buyback value of your iPhone. This guaranteed buyback value can be redeemed against the purchase of a new iPhone. The buyback value of your iPhone at any given point of time within the Plan term is determined by the age of the iPhone from the Invoice date of your iPhone. The eligible buyback value is a certain percentage of the Invoice value (ASP) of the iPhone as described in the table below.
                      <br>
                      <b>iPhone 15, iPhone 15 Plus, iPhone 15 Pro, iPhone 15 Pro Max, iPhone 14 and iPhone 14 Plus</b>
                      <br>
                      <div class="col-md-8 mt-3">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <td>
                                <b>Redemption period (from date of purchase)</b>
                              </td>
                              <td>
                                <b>% of the invoice value</b>
                              </td>
                            </tr>
                            <tr>
                              <td>21-24 months</td>
                              <td>25%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingfour">
                    <h4 class="panel-title">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapsefour"
                        aria-expanded="false"
                        aria-controls="collapsefour"> 4. How do I enroll for the program?</a>
                    </h4>
                  </div>
                  <div
                    id="collapsefour"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="headingfour"
                    style="">
                    <div class="panel-body"> The device must be purchased from an Apple authorized reseller store on ICICI Bank Credit Card with Deferred Payment Facility of 24 months for availing the benefits under this plan. Upon purchase of the iPhone under the financing scheme, the device will be automatically enrolled for this program basis the new iPhone IMEI and last 4 digits of customer’s mobile number entered in Pine Labs POS. The 24-month EMI with Deferred Payment Facility on your ICICI Bank Credit Card is independent of the registration for Assured Buy Back/Trade-in facility on the Servify app/portal, and subject to Terms and Conditions of ICICI Bank.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingfive">
                    <h4 class="panel-title">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapsefive"
                        aria-expanded="false"
                        aria-controls="collapsefive"> 5. When can I exercise my buy back option i.e. sell my original device for assured value?</a>
                    </h4>
                  </div>
                  <div
                    id="collapsefive"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="headingfive"
                    style="">
                    <div class="panel-body">
                      <ul class="list-faq">
                        <li>Within the plan term, if you wish to upgrade to the new iPhone by redeeming the buy back value as per the benefits offered by the plan, you must visit the nearest Apple authorized reseller store. Also, you can initiate redemption directly with Servify and a logistics agent will visit you to pick your registered device.</li>
                        <li>The reseller shall initiate buy back process by downloading the Servify app on the iPhone and follow the instructions provided in the Servify app to complete the quality check ("QC") procedure and provide all the details asked in the process.</li>
                        <li>Subject to you providing required details and subject to the iPhone passing the quality check (“QC”) specifications as listed below under “QC specifications”, the buy back request shall be approved. Please note, an online quality/diagnostic check will be conducted while raising a buy back request. No test shall be skipped by you, if skipped Servify may deny the benefits. If the iPhone does not pass the QC test, you shall not be eligible to avail the buy back plan.</li>
                        <li>After the device diagnostics and QC is completed the final buy back value is shown. If the buy back value is acceptable, you will hand over the iPhone and other accessories to the reseller who will provide you the buy back value benefit in your next iPhone purchase or in your bank account.</li>
                        <li>Servify assumes no responsibility towards ICICI Bank for underlying device purchase finance Facility taken by the Cardholder.</li>
                        <li>You need to initiate the buy back execution before end of 24 months while the doorstep pick/in-store buy back can be done up to 30 days from end of 24 months. Once a pick up is scheduled, you need to ensure device is handed over to logistics partner. Any delay/cancellations of pick up can lead to rejection of buy back plan redemption. Any dispute regarding these must be addressed in writing, by the customer, directly with Servify and will need to contact Servify customer service number: 1800 123 333 888 (toll free), on all days between 9am to 9pm or reach out to Servify customer eervice email ID: support@servify.tech.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingsix">
                    <h4 class="panel-title">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapsesix"
                        aria-expanded="false"
                        aria-controls="collapsesix"> 6. Redemption Terms and Conditions – Assured Buyback Plan from Servify</a>
                    </h4>
                  </div>
                  <div
                    id="collapsesix"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="headingsix">
                    <div class="panel-body">
                      <ul class="list-faq">
                        <li>The iPhone shall be used by the customer on an ‘as is’ basis and shall not be tampered with, including but not limited to, by way of rooting attempts, reverse engineering, unlocking or jailbreaking of the Product or original firmware(s) or software(s) of the Product.</li>
                        <li>The iPhone must be switching ON and remains in the ON-condition for a minimum of 10 minutes without being connected to a charger</li>
                        <li>iPhone must not have any un-authorized modifications as per AppleCare norms</li>
                        <li>The iPhone must be in working condition, passing all functional tests.</li>
                        <li>The screen and the body of the iPhone must not be damaged or in broken condition</li>
                        <li class="left-list-style">Screen lock is not active (all forms of screen locks like pattern, pin, password,</li>
                        <li>fingerprint, face recognition, smart lock, etc. need to be deactivated)</li>
                        <li>Find My iPhone must be deactivated before handover</li>
                        <li class="left-list-style">The original charger and charging cable of the iPhone need to be returned in working condition along with the original iPhone while availing the Assured Buyback Plan. In case the Customer fails to provide the Product original box, charger and other accessories under the conditions specified above, Assured Buyback Value shall be reduced by 5% of the original Invoice Value</li>
                        <li class="left-list-style">In case any of the above conditions are not met, Servify or its affiliates reserve the right to reject the buyback plan redemption as per its sole discretion.</li>
                        <li>Any warranty on the product is offered by Apple authorized reseller and any claims, issues, damages or losses with respect to the product shall be the sole responsibility and liability of Apple authorized reseller</li>
                        <li class="left-list-style">Servify shall not be responsible for any loss, injury or any other liability of the Products.</li>
                        <li>Consumer needs to ensure that they close their loan with bank before the device is picked up for buyback redemption. Servify assumes no responsibility towards the bank for underlying loan taken by the consumer.</li>
                        <li>Customer needs to initiate the buyback execution before end of 24 months while the doorstep pick / in-store buyback can be done up to 30 days from end of 24 months. Once a pick up is scheduled, you need to ensure device is handed over to logistics partner. Any delay / cancellations of pick up can leads to rejection of buyback plan redemption</li>
                        <li class="left-list-style">ICICI Bank assume no responsibility towards the assured buyback plan extended by Servify</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- end here -->