<section class="page-section">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Prebooking Terms and Conditions</h2>
                <hr>
                <br>I hereby agree to the following terms of Product Pre-Registration.
                <br>
                <ul>
                    <li>I am voluntarily participating in the product pre-registration program and I understand that this program does not guarantee that I will receive the preferred iPhone or any other phone or product at the time of launch or even within any stipulated time frame.</li>
                    <li>This registration does not entitle anyone to a confirmed delivery of iPhone or any other product from Unicorn Infosolutions.</li>
                    <li>I can Pre-order a maximum of 1 unit from Unicorn Infosolutions as part of the product pre-registration program.</li>
                    <li>In case I am offered my preferred model of iPhone, I agree to complete the purchase transaction immediately and within a period not exceeding 24 hours from offer time.</li>
                    <li>I agree to use the device purchased from Unicorn Infosolutions for individual use only and will not resell this device to anybody else.</li>
                    <li>Unicorn Infosolutions will not be liable in any way in case they are not able to fulfil my demand of the registered iPhone.</li>
                    <li>In case Unicorn Infosolutions is not able to supply the product as per my preference then refund of advance amount, if any, will be processed as per the refund policy</li>
                    <li>The refunds, if applicable,  will be processed within 7 days of the cancellation request.</li>
                    <li>Unicorn Infosolutions reserves the right to not disclose any data pertaining to customer registrations to any customers or third party under this program</li>
                    <li>Unicorn Infosolutions may share this data with Apple India Pvt. Ltd and its Distributors like Ingram Micro India Ltd in case needed for any validation of registrations or to enable supplies of products</li>
                    <li>In case of any dispute, Unicorn Infosolutions reserves the right to cancel this registration at any time</li>
                    <li>Fulfillment of Pre orders of iPhone are subject to product avaialbility.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
