<div class="container">
  <a class="logo shadow-sm mb-4" href="https://shop.unicornstore.in/">
    <img src="assets/img/logo/unicorn-logo-black.svg" class="mr-3" alt="Unicorn">
  </a>
  <div class="row">
    <div class="col-sm text-center">
      <div class="success-checkmark mb-4 mt-5">
        <div class="check-icon">
          <span class="icon-line line-tip"></span>
          <span class="icon-line line-long"></span>
          <div class="icon-circle"></div>
          <div class="icon-fix"></div>
        </div>
      </div>

      <h2 class="title-bold mb-3">Order Confirmed</h2>
      <h6 class="heading mb-4">Your Order No. # <span>{{orderNumber}}</span></h6>
      <p class="text">Unicorn will send the order to Blinkit for delivery in minutes</p>
      <p class="text">Redirecting to order tracking in <span id="redirect_timer"></span></p>
    </div>
  </div>

  <!-- <h5 *ngIf="!isOrderConfirmed && isOrderVerifying" class="text-center mt-5">Please wait... Your Order is being verified</h5> -->
</div>